Repository Baumgaer/Game: changes, and which lint-staged commands are due for each by the changed paths.
All: tslint --project ./tsconfig.json --exclude source/app/client/ts/**/*.ts --fix, tslint --project ./source/app/client/ts/tsconfig.json --fix, eslint --fix

fix missing kebab case
  source/app/client/ts/lib/BaseComponent.ts
Due: tslint --project ./tsconfig.json --exclude source/app/client/ts/**/*.ts --fix, tslint --project ./source/app/client/ts/tsconfig.json --fix

add custom events
  out/app/client/views/WebClient.njk
  source/app/client/ts/components/SectionPanelSplitter.ts
  source/app/client/ts/components/WebClient.ts
  source/app/client/ts/lib/BaseController.ts
Due: tslint --project ./tsconfig.json --exclude source/app/client/ts/**/*.ts --fix, tslint --project ./source/app/client/ts/tsconfig.json --fix

some refactoring
  source/app/client/ts/lib/BaseComponent.ts
  source/app/client/ts/lib/BaseController.ts
  source/app/lib/BDOModel.ts
  source/app/lib/BDORoute.ts
  source/app/lib/BaseConstructor.ts
  source/app/utils/framework.ts
Due: tslint --project ./tsconfig.json --exclude source/app/client/ts/**/*.ts --fix, tslint --project ./source/app/client/ts/tsconfig.json --fix

update dependencies
  package-lock.json
  package.json
Due: none

experimental changes
  source/app/client/ts/WebClient.ts
  source/app/client/ts/models/Artifact.ts
  source/app/client/ts/models/Folder.ts
  source/app/client/ts/models/Test.ts
  source/app/client/ts/models/Test1.ts
  source/app/client/ts/models/Test2.ts
  source/app/client/ts/models/User.ts
  source/app/lib/BDOModel.ts
  source/app/models/BDOArtifact.ts
  source/app/models/BDOFolder.ts
  source/app/models/BDOUser.ts
  source/app/server/models/Test1.ts
  source/app/utils/decorators.ts
Due: tslint --project ./tsconfig.json --exclude source/app/client/ts/**/*.ts --fix, tslint --project ./source/app/client/ts/tsconfig.json --fix

remove experimental stuff
  source/app/client/ts/WebClient.ts
  source/app/client/ts/models/Artifact.ts
  source/app/client/ts/models/Folder.ts
  source/app/client/ts/models/User.ts
Due: tslint --project ./tsconfig.json --exclude source/app/client/ts/**/*.ts --fix, tslint --project ./source/app/client/ts/tsconfig.json --fix

helper setting for case insensitive operating systems
  tsconfig.base.json
Due: none

add json schema generator
  gruntfile.js
  package-lock.json
  package.json
  source/app/client/ts/interfaces/api.json
  source/app/models/BDOTest.ts
  source/app/models/BDOTest1.ts
  source/app/server/interfaces/api.json
  source/app/server/lib/ServerModel.ts
  source/app/server/models/Test1.ts
  source/tasks/compile.ts
  source/utils/projectStructure.ts
  source/utils/schemaGenerator.ts
Due: tslint --project ./tsconfig.json --exclude source/app/client/ts/**/*.ts --fix, eslint --fix

extend schema generator with null type
  source/app/server/interfaces/api.json
  source/app/server/models/Test1.ts
  source/utils/schemaGenerator.ts
Due: tslint --project ./tsconfig.json --exclude source/app/client/ts/**/*.ts --fix

remove typegraphql and typeorm
  out/app/config/development/docker-compose.yml
  out/app/config/docker-compose.yml
  out/app/server/config/development/docker-compose.yml
  out/app/server/config/docker-compose.yml
  package-lock.json
  package.json
  source/app/api/BDOTestResolver.ts
  source/app/client/ts/api/TestResolver.ts
  source/app/client/ts/interfaces/api.json
  source/app/client/ts/lib/BaseClient.ts
  source/app/client/ts/lib/BaseComponent.ts
  source/app/client/ts/lib/ClientModel.ts
  source/app/client/ts/lib/ClientResolver.ts
  source/app/client/ts/lib/DatabaseManager.ts
  source/app/interfaces/Config.ts
  source/app/lib/Attribute.ts
  source/app/lib/BDODatabaseManager.ts
  source/app/lib/BDOModel.ts
  source/app/lib/BDOResolver.ts
  source/app/lib/BaseConstructor.ts
  source/app/lib/Distributor.ts
  source/app/lib/Field.ts
  source/app/lib/Property.ts
  source/app/lib/Watched.ts
  source/app/models/BDOTest.ts
  source/app/models/BDOUser.ts
  source/app/server/api/TestResolver.ts
  source/app/server/interfaces/api.json
  source/app/server/lib/BaseServer.ts
  source/app/server/lib/ServerResolver.ts
  source/app/server/lib/WebSocketServer.ts
  source/app/server/models/Test1.ts
  source/app/utils/decorators.ts
  source/app/utils/framework.ts
  tsconfig.base.json
Due: tslint --project ./tsconfig.json --exclude source/app/client/ts/**/*.ts --fix, tslint --project ./source/app/client/ts/tsconfig.json --fix

shrink instances to one
  .gitignore
  out/app/server/config/development/docker-compose.yml
Due: none

add api route and prepare routes for post requests
  package-lock.json
  package.json
  source/app/client/ts/lib/ClientRoute.ts
  source/app/client/ts/routes/Api.ts
  source/app/lib/BDORoute.ts
  source/app/routes/BDOApi.ts
  source/app/routes/BDOConfig.ts
  source/app/routes/BDOGameLobby.ts
  source/app/routes/BDOHome.ts
  source/app/server/lib/ServerRoute.ts
  source/app/server/routes/Api.ts
Due: tslint --project ./tsconfig.json --exclude source/app/client/ts/**/*.ts --fix, tslint --project ./source/app/client/ts/tsconfig.json --fix

first version of repository and some cleanup
  global.d.ts
  source/app/client/ts/lib/ClientModel.ts
  source/app/client/ts/lib/DatabaseManager.ts
  source/app/client/ts/lib/Repository.ts
  source/app/client/ts/models/Artifact.ts
  source/app/lib/BDODatabaseManager.ts
  source/app/lib/BDOModel.ts
  source/app/lib/BDORepository.ts
  source/app/lib/BaseConstructor.ts
  source/app/utils/util.ts
Due: tslint --project ./tsconfig.json --exclude source/app/client/ts/**/*.ts --fix, tslint --project ./source/app/client/ts/tsconfig.json --fix

cleanup
  package-lock.json
  package.json
  source/app/client/ts/interfaces/api.json
  source/app/server/interfaces/api.json
  webpack.config.js
Due: eslint --fix

fix dependencies
  package-lock.json
Due: none

prepare nunjucks-loader to be isomorph
  nunjucks.config.js
  package-lock.json
  package.json
  source/game-dev-cli.ts
  webpack.config.js
  webpack/renewed-nunjucks-loader/index.js
  webpack/renewed-nunjucks-loader/package-lock.json
  webpack/renewed-nunjucks-loader/package.json
  webpack/renewed-nunjucks-loader/runtime-shim.js
Due: tslint --project ./tsconfig.json --exclude source/app/client/ts/**/*.ts --fix, eslint --fix

split webpack config into base and client
  Dockerfile
  package.json
  webpack.config.base.js
  webpack.config.client.js
  webpack.config.js
Due: eslint --fix

correct plugin extension
  webpack.config.base.js
Due: eslint --fix

change backend build to webpack
  out/app/server/config/development/docker-compose.yml
  out/app/server/views/HomeRoute.njk
  out/app/views/BDODefaultTemplate.njk
  out/app/views/BDOHomeRoute.njk
  package-lock.json
  package.json
  source/app/lib/BDORoute.ts
  source/app/server/lib/BaseServer.ts
  webpack.config.base.js
  webpack.config.client.js
  webpack.config.server.js
Due: tslint --project ./tsconfig.json --exclude source/app/client/ts/**/*.ts --fix, eslint --fix

move things to source due to fully build with webpack
  .gitignore
  .lintstagedrc
  nunjucks.config.js
  out/app/client/locales/index.ts
  out/app/tools/README.md
  source/app/client/locales/README.md
  source/app/client/locales/de-de/BaseComponent.json
  source/app/client/locales/de-de/components/TestComponent.json
  source/app/client/locales/en-en/BaseComponent.json
  source/app/client/locales/en-en/components/TestComponent.json
  source/app/client/locales/index.js
  source/app/client/views/BaseComponent.njk
  source/app/client/views/README.md
  source/app/client/views/SectionPanelSplitter.njk
  source/app/client/views/WebClient.njk
  source/app/client/views/master.njk
  source/app/client/views/testComponent.njk
  source/app/server/views/HomeRoute.njk
  source/app/server/views/README.md
  source/app/server/views/ServerRoute.njk
  source/app/utils/environment.ts
  source/app/views/BDODefaultTemplate.njk
  source/app/views/BDOHomeRoute.njk
  source/app/views/BDORoute.njk
  source/app/views/README.md
  source/app/views/gameLobby.njk
  source/app/views/head.njk
  source/app/views/home.njk
  source/app/views/master.njk
  webpack.config.base.js
Due: tslint --project ./tsconfig.json --exclude source/app/client/ts/**/*.ts --fix, eslint --fix

refactor basic environment method into BDO
  global.d.ts
  source/app/client/ts/lib/BaseClient.ts
  source/app/client/ts/lib/ClientRoute.ts
  source/app/lib/BDOLogger.ts
  source/app/lib/BDOModel.ts
  source/app/lib/BDORoute.ts
  source/app/lib/BaseEnvironment.ts
  source/app/server/lib/BaseServer.ts
  source/app/server/lib/ServerRoute.ts
  source/app/server/lib/WebSocketServer.ts
  source/app/utils/framework.ts
  webpack.config.base.js
  webpack.config.client.js
  webpack.config.server.js
Due: tslint --project ./tsconfig.json --exclude source/app/client/ts/**/*.ts --fix, tslint --project ./source/app/client/ts/tsconfig.json --fix, eslint --fix

optimize build
  package.json
  source/tasks/cleanup.ts
  source/utils/projectStructure.ts
  webpack.config.base.js
  webpack.config.client.js
Due: tslint --project ./tsconfig.json --exclude source/app/client/ts/**/*.ts --fix, eslint --fix

remove unused dependencies
  package-lock.json
  package.json
Due: none

wrap express Request and Response to be used in ServiceWorker
  global.d.ts
  out/app/config/docker-compose.yml
  package-lock.json
  package.json
  source/app/client/ts/ServiceWorker.ts
  source/app/client/ts/WebClient.ts
  source/app/client/ts/lib/ClientRoute.ts
  source/app/client/ts/lib/Request.ts
  source/app/client/ts/lib/Response.ts
  source/app/interfaces/Config.ts
  source/app/lib/BDORoute.ts
  source/app/routes/BDOServiceWorker.ts
  source/app/server/lib/ServerRoute.ts
  source/app/server/routes/ServiceWorker.ts
  webpack.config.base.js
  webpack.config.client.js
Due: tslint --project ./tsconfig.json --exclude source/app/client/ts/**/*.ts --fix, tslint --project ./source/app/client/ts/tsconfig.json --fix, eslint --fix

autoload and order scripts
  .gitignore
  package-lock.json
  package.json
  source/app/client/views/WebClient.njk
  source/app/routes/BDOHome.ts
  source/app/server/lib/BaseServer.ts
  source/app/server/lib/ServerRoute.ts
  source/app/server/views/ServerRoute.njk
  source/app/views/BDOHomeRoute.njk
  webpack.config.base.js
  webpack.config.server.js
Due: tslint --project ./tsconfig.json --exclude source/app/client/ts/**/*.ts --fix, eslint --fix

open analyzer only statically
  source/app/client/ts/ServiceWorker.ts
  source/app/server/lib/ServerRoute.ts
  source/app/server/routes/ServiceWorker.ts
  webpack.config.base.js
  webpack.config.client.js
  webpack.config.server.js
Due: tslint --project ./tsconfig.json --exclude source/app/client/ts/**/*.ts --fix, tslint --project ./source/app/client/ts/tsconfig.json --fix, eslint --fix

seperate worker build
  .gitignore
  Dockerfile
  package.json
  source/app/GameServer.ts
  source/app/WebServer.ts
  source/app/client/ts/ServiceWorker.ts
  source/app/client/ts/lib/ClientRoute.ts
  source/app/server/routes/ServiceWorker.ts
  webpack.config.base.js
  webpack.config.client.js
  webpack.config.worker.js
Due: tslint --project ./tsconfig.json --exclude source/app/client/ts/**/*.ts --fix, tslint --project ./source/app/client/ts/tsconfig.json --fix, eslint --fix

add service worker and harmonize logger for later pre processing api calls and offline workflow
  modules.d.ts
  package-lock.json
  package.json
  source/app/client/ts/ServiceWorker.ts
  source/app/client/ts/WebClient.ts
  source/app/client/ts/lib/ClientRoute.ts
  source/app/client/ts/lib/Logger.ts
  source/app/client/ts/lib/Request.ts
  source/app/client/ts/lib/Response.ts
  source/app/client/ts/routes/Api.ts
  source/app/lib/BDOLogger.ts
  source/app/lib/BaseEnvironment.ts
  source/app/server/lib/Logger.ts
  source/app/server/lib/ServerRoute.ts
  source/app/server/routes/ServiceWorker.ts
  source/tasks/cleanup.ts
Due: tslint --project ./tsconfig.json --exclude source/app/client/ts/**/*.ts --fix, tslint --project ./source/app/client/ts/tsconfig.json --fix

fix colors in setup
  setup.js
Due: eslint --fix

fix fetching unavailable files while instlling service worler
  source/app/client/ts/ServiceWorker.ts
Due: tslint --project ./tsconfig.json --exclude source/app/client/ts/**/*.ts --fix, tslint --project ./source/app/client/ts/tsconfig.json --fix

ask server in case of 404 error
  source/app/client/ts/ServiceWorker.ts
Due: tslint --project ./tsconfig.json --exclude source/app/client/ts/**/*.ts --fix, tslint --project ./source/app/client/ts/tsconfig.json --fix

disable caching of serviceworker while in development mode
  source/app/routes/BDOApi.ts
  source/app/server/routes/ServiceWorker.ts
Due: tslint --project ./tsconfig.json --exclude source/app/client/ts/**/*.ts --fix

parse query string in service worker
  package-lock.json
  package.json
  source/app/client/ts/ServiceWorker.ts
  source/app/client/ts/lib/Repository.ts
  source/app/client/ts/lib/Request.ts
  source/app/client/ts/routes/Api.ts
  source/app/lib/BDORepository.ts
Due: tslint --project ./tsconfig.json --exclude source/app/client/ts/**/*.ts --fix, tslint --project ./source/app/client/ts/tsconfig.json --fix

Path conditions:
  tslint --project ./tsconfig.json --exclude source/app/client/ts/**/*.ts --fix: (any of: source/**/*.ts) or (any of: source/**/*.*.ts)
  tslint --project ./source/app/client/ts/tsconfig.json --fix: any of: source/app/client/ts/**/*.ts
  eslint --fix: any of: *.js
