Repository Baumgaer/Game: changes, and which lint-staged commands are due for each by the changed paths.
All: tslint --project ./tsconfig.json --exclude source/app/client/ts/**/*.ts --fix, tslint --project ./source/app/client/ts/tsconfig.json --fix, eslint --fix

.lintstagedrc:

{
    "source/**/*.ts": [
        "tslint --project ./tsconfig.json --exclude source/app/client/ts/**/*.ts --fix",
        "git add"
    ],
    "source/**/*.*.ts": [
        "tslint --project ./tsconfig.json --exclude source/app/client/ts/**/*.ts --fix",
        "git add"
    ],
    "source/app/client/ts/**/*.ts": [
        "tslint --project ./source/app/client/ts/tsconfig.json --fix",
        "git add"
    ],
    "*.js": [
        "eslint --fix",
        "git add"
    ]
}

better typing
  source/app/client/ts/components/ViewRouter.ts
  source/app/client/ts/lib/ClientModel.ts
  source/app/client/ts/lib/ClientRoute.ts
  source/app/lib/BaseConstructor.ts
Due: tslint --project ./tsconfig.json --exclude source/app/client/ts/**/*.ts --fix, tslint --project ./source/app/client/ts/tsconfig.json --fix

update dependencies
  out/app/client/js/templates.bundle.js
  package-lock.json
  package.json
Due: eslint --fix

allow type only imports where normal imports are forbidden
  out/app/server/lib/Redis.js
  out/lintRules/customImportBlacklistRule.js
  source/lintRules/customImportBlacklistRule.ts
Due: tslint --project ./tsconfig.json --exclude source/app/client/ts/**/*.ts --fix, eslint --fix

correct dependencies, better typing and correct id generation
  out/app/client/js/bundle.js
  out/app/client/ts/lib/BaseComponent.js
  out/app/client/ts/lib/ClientModel.js
  out/app/client/ts/lib/DatabaseManager.js
  out/app/client/ts/lib/Logger.js
  out/app/client/ts/utils/util.js
  out/app/utils/decorators.js
  out/app/utils/framework.js
  out/lintRules/customImportBlacklistRule.js
  package.json
  source/app/client/ts/lib/BaseComponent.ts
  source/app/client/ts/models/Test1.ts
  source/app/lib/BDOModel.ts
  source/app/utils/decorators.ts
  source/app/utils/framework.ts
  source/lintRules/customImportBlacklistRule.ts
Due: tslint --project ./tsconfig.json --exclude source/app/client/ts/**/*.ts --fix, tslint --project ./source/app/client/ts/tsconfig.json --fix, eslint --fix

add references and use fields of object as template vars
  out/app/client/js/bundle.js
  out/app/client/js/templates.bundle.js
  out/app/client/ts/lib/BaseComponent.js
  out/app/client/views/testComponent.njk
  source/app/client/ts/components/TestComponent.ts
  source/app/client/ts/lib/BaseComponent.ts
Due: tslint --project ./tsconfig.json --exclude source/app/client/ts/**/*.ts --fix, tslint --project ./source/app/client/ts/tsconfig.json --fix, eslint --fix

add refs and better importing of templates
  njk.d.ts
  out/app/client/js/bundle.js
  out/app/client/js/templates.bundle.js
  out/app/client/ts/lib/BaseComponent.js
  out/app/client/views/testComponent.njk
  out/app/routes/BDOGameLobby.js
  out/app/routes/BDOHome.js
  out/app/views/home.njk
  source/app/client/ts/components/TestComponent.ts
  source/app/client/ts/lib/BaseComponent.ts
  source/app/client/ts/njk.d.ts
  source/app/routes/BDOGameLobby.ts
  source/app/routes/BDOHome.ts
Due: tslint --project ./tsconfig.json --exclude source/app/client/ts/**/*.ts --fix, tslint --project ./source/app/client/ts/tsconfig.json --fix, eslint --fix

remove template rendering from callback life cycle
  out/app/client/js/bundle.js
  out/app/client/ts/lib/BaseComponent.js
  out/app/lib/BaseConstructor.js
  source/app/client/ts/lib/BaseComponent.ts
  source/app/lib/BaseConstructor.ts
Due: tslint --project ./tsconfig.json --exclude source/app/client/ts/**/*.ts --fix, tslint --project ./source/app/client/ts/tsconfig.json --fix, eslint --fix

better documentation and fix webpack config
  out/app/client/js/bundle.js
  out/app/client/ts/lib/BaseComponent.js
  source/app/client/ts/lib/BaseComponent.ts
  source/app/lib/BaseConstructor.ts
  webpack.config.js
Due: tslint --project ./tsconfig.json --exclude source/app/client/ts/**/*.ts --fix, tslint --project ./source/app/client/ts/tsconfig.json --fix, eslint --fix

add basic component navigation
  out/app/client/js/bundle.js
  out/app/client/js/templates.bundle.js
  out/app/client/ts/lib/BaseComponent.js
  out/app/utils/framework.js
  out/app/views/home.njk
  source/app/client/ts/lib/BaseComponent.ts
  source/app/utils/framework.ts
Due: tslint --project ./tsconfig.json --exclude source/app/client/ts/**/*.ts --fix, tslint --project ./source/app/client/ts/tsconfig.json --fix, eslint --fix

include shadowDOM into component navigation
  out/app/client/js/bundle.js
  out/app/client/js/templates.bundle.js
  out/app/client/ts/lib/BaseComponent.js
  out/app/client/views/testComponent.njk
  source/app/client/ts/lib/BaseComponent.ts
Due: tslint --project ./tsconfig.json --exclude source/app/client/ts/**/*.ts --fix, tslint --project ./source/app/client/ts/tsconfig.json --fix, eslint --fix

cleanup
  out/app/client/ts/lib/BaseComponent.js
  out/app/client/ts/lib/ClientModel.js
  out/app/client/ts/lib/DatabaseManager.js
  out/app/client/ts/lib/Logger.js
  out/app/client/ts/utils/util.js
  out/app/utils/framework.js
  source/app/utils/framework.ts
Due: tslint --project ./tsconfig.json --exclude source/app/client/ts/**/*.ts --fix, eslint --fix

update dependencies
  package-lock.json
  package.json
  source/app/client/ts/lib/BaseComponent.ts
Due: tslint --project ./tsconfig.json --exclude source/app/client/ts/**/*.ts --fix, tslint --project ./source/app/client/ts/tsconfig.json --fix

add easyer styling and polyfill nullish coalescing operator
  .babelrc
  global.d.ts
  out/app/client/js/bundle.js
  package-lock.json
  package.json
  source/app/client/ts/lib/BaseComponent.ts
  webpack.config.js
Due: tslint --project ./tsconfig.json --exclude source/app/client/ts/**/*.ts --fix, tslint --project ./source/app/client/ts/tsconfig.json --fix, eslint --fix

speedup page loading
  out/app/client/js/bundle.js
  out/app/client/js/lib.bundle.js
  out/app/client/js/templates.bundle.js
  out/app/views/master.njk
  package-lock.json
  package.json
  webpack.config.js
Due: eslint --fix

load styles
  source/app/client/less/components/TestComponent.less
  source/app/client/less/global.less
  source/app/client/ts/components/TestComponent.ts
  source/app/client/ts/lib/BaseComponent.ts
  webpack.config.js
Due: tslint --project ./tsconfig.json --exclude source/app/client/ts/**/*.ts --fix, tslint --project ./source/app/client/ts/tsconfig.json --fix, eslint --fix

compile themes
  package.json
  source/tasks/compile.ts
  source/utils/projectStructure.ts
Due: tslint --project ./tsconfig.json --exclude source/app/client/ts/**/*.ts --fix

update dependencies
  package-lock.json
  package.json
Due: none

add / remove controllers and event listeners
  source/app/client/ts/lib/BaseController.ts
Due: tslint --project ./tsconfig.json --exclude source/app/client/ts/**/*.ts --fix, tslint --project ./source/app/client/ts/tsconfig.json --fix
