Repository Baumgaer/Game: changes, and which lint-staged commands are due for each by the changed paths.
All: tslint --project ./tsconfig.json --exclude source/app/client/ts/**/*.ts --fix, tslint --project ./source/app/client/ts/tsconfig.json --fix, eslint --fix

add own restricted paths rule
  .eslintrc
  eslint/index.js
  eslint/package.json
  eslint/rules/no-restricted-paths/no-restricted-paths.js
  package-lock.json
  package.json
  source/app/client/ts/.eslintrc
  source/app/server/.eslintrc
  source/app/utils/framework.ts
Due: tslint --project ./tsconfig.json --exclude source/app/client/ts/**/*.ts --fix, eslint --fix

add litteral support for translation and better signature
  Dockerfile
  out/app/client/locales/de-de/BaseComponent.json
  source/app/client/ts/lib/BaseController.ts
Due: tslint --project ./tsconfig.json --exclude source/app/client/ts/**/*.ts --fix, tslint --project ./source/app/client/ts/tsconfig.json --fix

last change to remove tslint
  README.md
  tslint.json
Due: none

fix inheritance of translations
  Dockerfile
  out/app/client/locales/de-de/components/TestComponent.json
  source/app/client/ts/lib/BaseController.ts
Due: tslint --project ./tsconfig.json --exclude source/app/client/ts/**/*.ts --fix, tslint --project ./source/app/client/ts/tsconfig.json --fix

update dependencies
  package-lock.json
  package.json
Due: none

fix setup
  package.json
  setup.js
Due: eslint --fix

remove unnecessary type castings
  source/app/lib/BDOLogger.ts
  source/app/lib/Property.ts
  source/app/lib/Watched.ts
Due: tslint --project ./tsconfig.json --exclude source/app/client/ts/**/*.ts --fix

add a history to properties and make proxyHandler easyer
  package-lock.json
  package.json
  source/app/lib/Attribute.ts
  source/app/lib/Field.ts
  source/app/lib/Property.ts
  source/app/lib/Watched.ts
Due: tslint --project ./tsconfig.json --exclude source/app/client/ts/**/*.ts --fix

reintroduce babel proposals
  package-lock.json
  package.json
  webpack.config.js
Due: eslint --fix

update dependencies
  package-lock.json
  package.json
  source/app/client/ts/lib/DatabaseManager.ts
  webpack.config.js
Due: tslint --project ./tsconfig.json --exclude source/app/client/ts/**/*.ts --fix, tslint --project ./source/app/client/ts/tsconfig.json --fix, eslint --fix

cleanup package-lock
  package-lock.json
Due: none

update dependencies
  package-lock.json
  package.json
  source/app/server/lib/BaseServer.ts
Due: tslint --project ./tsconfig.json --exclude source/app/client/ts/**/*.ts --fix

secure csp inline-source
  global.d.ts
  out/app/views/master.njk
  source/app/client/ts/lib/BaseComponent.ts
  source/app/server/lib/BaseServer.ts
  source/app/server/lib/ServerRoute.ts
Due: tslint --project ./tsconfig.json --exclude source/app/client/ts/**/*.ts --fix, tslint --project ./source/app/client/ts/tsconfig.json --fix

Correct array watched behavior for added and removed elements
  source/app/lib/Attribute.ts
  source/app/lib/Field.ts
  source/app/lib/Property.ts
  source/app/lib/Watched.ts
  source/app/server/lib/BaseServer.ts
Due: tslint --project ./tsconfig.json --exclude source/app/client/ts/**/*.ts --fix

extended resolution of changes in object
  package-lock.json
  package.json
  source/app/lib/Watched.ts
  source/app/utils/decorators.ts
Due: tslint --project ./tsconfig.json --exclude source/app/client/ts/**/*.ts --fix

remove shallow option to reduce complexity
  source/app/lib/Field.ts
  source/app/lib/Property.ts
  source/app/lib/Watched.ts
Due: tslint --project ./tsconfig.json --exclude source/app/client/ts/**/*.ts --fix

typo
  source/app/lib/Property.ts
Due: tslint --project ./tsconfig.json --exclude source/app/client/ts/**/*.ts --fix

add coment to clarify the behavior of the binding
  source/app/lib/Binding.ts
  source/app/lib/Field.ts
Due: tslint --project ./tsconfig.json --exclude source/app/client/ts/**/*.ts --fix

remove unnecessary type anotation
  source/app/lib/Binding.ts
Due: tslint --project ./tsconfig.json --exclude source/app/client/ts/**/*.ts --fix

remove history from property
  source/app/lib/Property.ts
Due: tslint --project ./tsconfig.json --exclude source/app/client/ts/**/*.ts --fix

some refactoring
  source/app/lib/Watched.ts
  source/app/utils/framework.ts
Due: tslint --project ./tsconfig.json --exclude source/app/client/ts/**/*.ts --fix

refactoring
  source/app/lib/Attribute.ts
  source/app/lib/Field.ts
  source/app/lib/Property.ts
  source/app/lib/Watched.ts
Due: tslint --project ./tsconfig.json --exclude source/app/client/ts/**/*.ts --fix

update babel
  package-lock.json
  package.json
Due: none

update typescript
  global.d.ts
  package-lock.json
  package.json
  source/app/client/ts/lib/ClientModel.ts
  source/app/lib/BDOModel.ts
Due: tslint --project ./tsconfig.json --exclude source/app/client/ts/**/*.ts --fix, tslint --project ./source/app/client/ts/tsconfig.json --fix

fix undefined this context in proxy handler and reduce load by operating on proxy target
  source/app/client/ts/lib/BaseComponent.ts
  source/app/lib/Property.ts
Due: tslint --project ./tsconfig.json --exclude source/app/client/ts/**/*.ts --fix, tslint --project ./source/app/client/ts/tsconfig.json --fix

generalize type guard execution
  source/app/lib/Attribute.ts
  source/app/lib/Binding.ts
  source/app/lib/Distributor.ts
  source/app/lib/Field.ts
  source/app/lib/Property.ts
  source/app/lib/Watched.ts
  source/utils/requireOverride.ts
  tsconfig.json
Due: tslint --project ./tsconfig.json --exclude source/app/client/ts/**/*.ts --fix

Fix recursion loop
  source/app/lib/Field.ts
  source/app/lib/Property.ts
  source/app/lib/Watched.ts
Due: tslint --project ./tsconfig.json --exclude source/app/client/ts/**/*.ts --fix

refactoring
  source/app/lib/Distributor.ts
  source/app/lib/Property.ts
  source/app/lib/Watched.ts
Due: tslint --project ./tsconfig.json --exclude source/app/client/ts/**/*.ts --fix

integrate type guard for objects on distribution
  source/app/lib/Distributor.ts
  source/app/lib/Field.ts
  source/app/lib/Property.ts
Due: tslint --project ./tsconfig.json --exclude source/app/client/ts/**/*.ts --fix

fix watching on fields without distribution in case of assignment
  source/app/lib/Watched.ts
Due: tslint --project ./tsconfig.json --exclude source/app/client/ts/**/*.ts --fix

stabelize typeguard in all cases
  source/app/client/ts/components/ViewLink.ts
  source/app/lib/Attribute.ts
  source/app/lib/Distributor.ts
  source/app/lib/Field.ts
  source/app/lib/Property.ts
  source/app/lib/Watched.ts
Due: tslint --project ./tsconfig.json --exclude source/app/client/ts/**/*.ts --fix, tslint --project ./source/app/client/ts/tsconfig.json --fix

refactoring
  package-lock.json
  package.json
  source/app/client/ts/lib/BaseComponent.ts
  source/app/lib/Attribute.ts
  source/app/lib/Distributor.ts
  source/app/lib/Field.ts
  source/app/lib/Property.ts
  source/app/lib/Watched.ts
  source/app/utils/util.ts
  webpack.config.js
Due: tslint --project ./tsconfig.json --exclude source/app/client/ts/**/*.ts --fix, tslint --project ./source/app/client/ts/tsconfig.json --fix, eslint --fix

add missing export
  source/app/utils/util.ts
Due: tslint --project ./tsconfig.json --exclude source/app/client/ts/**/*.ts --fix

Path conditions:
  tslint --project ./tsconfig.json --exclude source/app/client/ts/**/*.ts --fix: (any of: source/**/*.ts) or (any of: source/**/*.*.ts)
  tslint --project ./source/app/client/ts/tsconfig.json --fix: any of: source/app/client/ts/**/*.ts
  eslint --fix: any of: *.js
