Repository Baumgaer/Game: changes, and which lint-staged commands are due for each by the changed paths.
All: tslint --project ./tsconfig.json --exclude source/app/client/ts/**/*.ts --fix, tslint --project ./source/app/client/ts/tsconfig.json --fix, eslint --fix

.lintstagedrc:

{
    "source/**/*.ts": [
        "tslint --project ./tsconfig.json --exclude source/app/client/ts/**/*.ts --fix"
    ],
    "source/**/*.*.ts": [
        "tslint --project ./tsconfig.json --exclude source/app/client/ts/**/*.ts --fix"
    ],
    "source/app/client/ts/**/*.ts": [
        "tslint --project ./source/app/client/ts/tsconfig.json --fix"
    ],
    "*.js": [
        "eslint --fix"
    ]
}

fix source maps
  source/app/client/ts/WebClient.ts
  source/app/server/interfaces/api.json
  webpack.config.base.js
Due: tslint --project ./tsconfig.json --exclude source/app/client/ts/**/*.ts --fix, tslint --project ./source/app/client/ts/tsconfig.json --fix, eslint --fix

update dependencies
  package-lock.json
  package.json
  source/app/server/interfaces/api.json
Due: none

update dependencies
  package-lock.json
  package.json
Due: none

update dependencies
  modules.d.ts
  package-lock.json
  package.json
  source/app/client/ts/lib/BaseClient.ts
  source/app/lib/BaseEnvironment.ts
  source/app/server/lib/BaseServer.ts
Due: tslint --project ./tsconfig.json --exclude source/app/client/ts/**/*.ts --fix, tslint --project ./source/app/client/ts/tsconfig.json --fix

update dependencies
  modules.d.ts
  package-lock.json
  package.json
  source/app/lib/BDOModel.ts
  source/app/lib/BDORepository.ts
  source/tasks/compile.ts
Due: tslint --project ./tsconfig.json --exclude source/app/client/ts/**/*.ts --fix

update dependencies
  package-lock.json
  package.json
  source/app/client/ts/components/ViewLink.ts
  source/app/client/ts/interfaces/api.json
  source/app/client/ts/lib/Repository.ts
  source/app/client/ts/models/Folder.ts
  source/app/client/ts/tsconfig.json
  source/app/server/interfaces/api.json
  tsconfig.base.json
  webpack.config.base.js
Due: tslint --project ./tsconfig.json --exclude source/app/client/ts/**/*.ts --fix, tslint --project ./source/app/client/ts/tsconfig.json --fix, eslint --fix

fix critical dependencies
  package-lock.json
Due: none
