Repository Baumgaer/Game: changes, and which lint-staged commands are due for each by the changed paths.
All: tslint --project ./tsconfig.json --exclude source/app/client/ts/**/*.ts --fix, prettier --write, tslint --project ./source/app/client/ts/tsconfig.json --fix, eslint --fix

Provide an interface for WebSocketMessages
  out/app/server/lib/WebSocketServer.js
  out/app/views/gameLobby.njk
  source/app/server/lib/WebSocketServer.ts
Due: tslint --project ./tsconfig.json --exclude source/app/client/ts/**/*.ts --fix, prettier --write, eslint --fix

add a license
  LICENSE.md
Due: none

extend license
  LICENSE.md
Due: none

remove prettier from hook, get config via REST and WS
  .lintstagedrc
  out/app/GameServer.js
  out/app/server/lib/BaseRoute.js
  out/app/server/lib/BaseServer.js
  out/app/server/lib/ConfigManager.js
  out/app/server/lib/WebSocketServer.js
  out/app/server/routes/Config.js
  package.json
  source/app/GameServer.ts
  source/app/server/lib/BaseRoute.ts
  source/app/server/lib/BaseServer.ts
  source/app/server/lib/ConfigManager.ts
  source/app/server/lib/WebSocketServer.ts
  source/app/server/routes/Config.ts
Due: tslint --project ./tsconfig.json --exclude source/app/client/ts/**/*.ts --fix, prettier --write, eslint --fix

test for new configManager method
  out/app/client/config/spec/spec.ini
  out/specs/ConfigManager.spec.js
  package-lock.json
  package.json
  source/specs/ConfigManager.spec.ts
Due: tslint --project ./tsconfig.json --exclude source/app/client/ts/**/*.ts --fix, prettier --write, eslint --fix

update dependencies
  baseTSConfig.json
  package-lock.json
  package.json
Due: none

Fix decorators and implement baseConstructor
  out/app/client/js/bundle.js
  out/app/client/js/templates.bundle.js
  out/app/lib/BDOBaseModel.js
  out/app/models/Cell.js
  out/app/models/Test.js
  out/app/server/lib/BaseServer.js
  out/app/utils/decorators.js
  out/app/utils/watch.js
  out/app/views/home.njk
  package.json
  source/app/client/ts/components/GameWindow.ts
  source/app/client/ts/components/TestComponent.ts
  source/app/client/ts/components/ViewLink.ts
  source/app/client/ts/components/ViewRouter.ts
  source/app/client/ts/lib/BaseComponent.ts
  source/app/client/ts/utils/decorators.ts
  source/app/lib/BDOBaseModel.ts
  source/app/models/Cell.ts
  source/app/models/Test.ts
  source/app/server/lib/BaseServer.ts
  source/app/utils/decorators.ts
Due: tslint --project ./tsconfig.json --exclude source/app/client/ts/**/*.ts --fix, prettier --write, tslint --project ./source/app/client/ts/tsconfig.json --fix, eslint --fix

Fix watched decorator
  out/app/client/js/bundle.js
  out/app/utils/decorators.js
  source/app/client/ts/components/ViewLink.ts
  source/app/client/ts/utils/decorators.ts
  source/app/utils/decorators.ts
Due: tslint --project ./tsconfig.json --exclude source/app/client/ts/**/*.ts --fix, prettier --write, tslint --project ./source/app/client/ts/tsconfig.json --fix, eslint --fix

Fix property collection
  global.d.ts
  out/app/client/js/bundle.js
  out/app/lib/BDOBaseModel.js
  out/app/lib/BDOModel.js
  out/app/models/Test.js
  source/app/client/ts/components/GameWindow.ts
  source/app/client/ts/components/TestComponent.ts
  source/app/client/ts/components/ViewLink.ts
  source/app/client/ts/components/ViewRouter.ts
  source/app/client/ts/lib/BaseComponent.ts
  source/app/client/ts/utils/decorators.ts
  source/app/lib/BDOModel.ts
  source/app/models/Test.ts
Due: tslint --project ./tsconfig.json --exclude source/app/client/ts/**/*.ts --fix, prettier --write, tslint --project ./source/app/client/ts/tsconfig.json --fix, eslint --fix

update dependencies
  out/app/client/js/bundle.js
  out/app/utils/decorators.js
  package-lock.json
  package.json
  source/app/client/ts/components/ViewLink.ts
  source/app/utils/decorators.ts
Due: tslint --project ./tsconfig.json --exclude source/app/client/ts/**/*.ts --fix, prettier --write, tslint --project ./source/app/client/ts/tsconfig.json --fix, eslint --fix

update dependencies
  package-lock.json
  package.json
Due: none

Fix properties
  out/app/client/js/bundle.js
  source/app/client/ts/components/ViewLink.ts
  source/app/client/ts/lib/BaseComponent.ts
  source/app/client/ts/utils/decorators.ts
Due: tslint --project ./tsconfig.json --exclude source/app/client/ts/**/*.ts --fix, prettier --write, tslint --project ./source/app/client/ts/tsconfig.json --fix, eslint --fix

implement first two-way-data binding
  ecosystem.config.js
  global.d.ts
  out/app/client/js/bundle.js
  out/app/lib/BDOModel.js
  out/app/models/Test.js
  out/app/utils/decorators.js
  source/app/client/ts/components/ViewLink.ts
  source/app/client/ts/utils/decorators.ts
  source/app/lib/BDOModel.ts
  source/app/models/Test.ts
  source/app/utils/decorators.ts
Due: tslint --project ./tsconfig.json --exclude source/app/client/ts/**/*.ts --fix, prettier --write, tslint --project ./source/app/client/ts/tsconfig.json --fix, eslint --fix

allow multible bindings
  out/app/client/js/bundle.js
  out/app/lib/BDOModel.js
  out/app/lib/Binding.js
  out/app/utils/decorators.js
  source/app/client/ts/components/ViewLink.ts
  source/app/client/ts/lib/BaseComponent.ts
  source/app/lib/BDOModel.ts
  source/app/lib/Binding.ts
  source/app/utils/decorators.ts
Due: tslint --project ./tsconfig.json --exclude source/app/client/ts/**/*.ts --fix, prettier --write, tslint --project ./source/app/client/ts/tsconfig.json --fix, eslint --fix

update dependencies and fix templates bundle
  out/app/client/js/templates.bundle.js
  package-lock.json
  package.json
Due: eslint --fix

Fix annoying restarts and build components earlier
  ecosystem.config.js
  out/app/client/js/bundle.js
  out/app/utils/decorators.js
  source/app/client/ts/lib/BaseComponent.ts
  source/app/utils/decorators.ts
Due: tslint --project ./tsconfig.json --exclude source/app/client/ts/**/*.ts --fix, prettier --write, tslint --project ./source/app/client/ts/tsconfig.json --fix, eslint --fix

type secure binding and fix unbinding
  out/app/client/js/bundle.js
  out/app/client/js/templates.bundle.js
  out/app/lib/BDOModel.js
  out/app/lib/Binding.js
  out/app/utils/decorators.js
  out/app/utils/util.js
  source/app/client/ts/components/ViewLink.ts
  source/app/client/ts/controllers/BaseController.ts
  source/app/client/ts/lib/BaseComponent.ts
  source/app/lib/BDOModel.ts
  source/app/lib/Binding.ts
  source/app/utils/decorators.ts
  source/app/utils/util.ts
Due: tslint --project ./tsconfig.json --exclude source/app/client/ts/**/*.ts --fix, prettier --write, tslint --project ./source/app/client/ts/tsconfig.json --fix, eslint --fix

better lifecycle implementation without hiding original Objects
  out/app/client/js/bundle.js
  out/app/client/js/templates.bundle.js
  out/app/utils/decorators.js
  source/app/utils/decorators.ts
Due: tslint --project ./tsconfig.json --exclude source/app/client/ts/**/*.ts --fix, prettier --write, eslint --fix

Fix baseconstructor on backend
  out/app/client/js/bundle.js
  out/app/utils/decorators.js
  source/app/utils/decorators.ts
Due: tslint --project ./tsconfig.json --exclude source/app/client/ts/**/*.ts --fix, prettier --write, eslint --fix

update readme
  README.md
Due: none

end anoying error restarts
  ecosystem.config.js
Due: eslint --fix

fix, extend and refactor decorators and update dependencies
  ecosystem.config.js
  out/app/client/js/bundle.js
  out/app/lib/Binding.js
  out/app/utils/decorators.js
  package-lock.json
  package.json
  source/app/lib/Binding.ts
  source/app/utils/decorators.ts
Due: tslint --project ./tsconfig.json --exclude source/app/client/ts/**/*.ts --fix, prettier --write, eslint --fix

fix buggy pm2 restarts
  ecosystem.config.js
  out/app/client/js/bundle.js
  out/app/utils/decorators.js
  source/app/utils/decorators.ts
Due: tslint --project ./tsconfig.json --exclude source/app/client/ts/**/*.ts --fix, prettier --write, eslint --fix

make watching shallow
  out/app/client/js/bundle.js
  out/app/utils/decorators.js
  source/app/client/ts/components/ViewLink.ts
  source/app/utils/decorators.ts
Due: tslint --project ./tsconfig.json --exclude source/app/client/ts/**/*.ts --fix, prettier --write, tslint --project ./source/app/client/ts/tsconfig.json --fix, eslint --fix

binding refinements and some refactoring
  baseTSConfig.json
  global.d.ts
  out/app/client/js/bundle.js
  out/app/lib/BDOModel.js
  out/app/lib/Binding.js
  out/app/models/Test.js
  out/app/utils/decorators.js
  package-lock.json
  package.json
  source/app/client/ts/lib/BaseComponent.ts
  source/app/lib/BDOModel.ts
  source/app/lib/Binding.ts
  source/app/models/Test.ts
  source/app/utils/decorators.ts
Due: tslint --project ./tsconfig.json --exclude source/app/client/ts/**/*.ts --fix, prettier --write, tslint --project ./source/app/client/ts/tsconfig.json --fix, eslint --fix

implement type-graphql
  out/app/client/js/bundle.js
  out/app/client/js/templates.bundle.js
  out/app/lib/BDOModel.js
  out/app/models/Test.js
  out/app/models/Test1.js
  out/app/server/api/TestResolver.js
  out/app/server/lib/BaseServer.js
  out/app/utils/decorators.js
  package-lock.json
  package.json
  source/app/client/ts/components/ViewLink.ts
  source/app/client/ts/tsconfig.json
  source/app/lib/BDOModel.ts
  source/app/models/Test.ts
  source/app/models/Test1.ts
  source/app/server/api/TestResolver.ts
  source/app/server/lib/BaseServer.ts
  source/app/utils/decorators.ts
Due: tslint --project ./tsconfig.json --exclude source/app/client/ts/**/*.ts --fix, prettier --write, tslint --project ./source/app/client/ts/tsconfig.json --fix, eslint --fix

Path conditions:
  tslint --project ./tsconfig.json --exclude source/app/client/ts/**/*.ts --fix: (any of: source/**/*.ts) or (any of: source/**/*.*.ts)
  prettier --write: ((any of: source/**/*.ts) or (any of: source/**/*.*.ts)) or (any of: source/app/client/ts/**/*.ts)
  tslint --project ./source/app/client/ts/tsconfig.json --fix: any of: source/app/client/ts/**/*.ts
  eslint --fix: any of: *.js
