Repository Baumgaer/Game: changes, and which lint-staged commands are due for each by the changed paths.
All: tslint --project ./tsconfig.json --exclude source/app/client/ts/**/*.ts --fix, tslint --project ./source/app/client/ts/tsconfig.json --fix, eslint --fix

.lintstagedrc:

{
    "source/**/*.ts": [
        "tslint --project ./tsconfig.json --exclude source/app/client/ts/**/*.ts --fix",
        "git add"
    ],
    "source/**/*.*.ts": [
        "tslint --project ./tsconfig.json --exclude source/app/client/ts/**/*.ts --fix",
        "git add"
    ],
    "source/app/client/ts/**/*.ts": [
        "tslint --project ./source/app/client/ts/tsconfig.json --fix",
        "git add"
    ],
    "*.js": [
        "eslint --fix",
        "git add"
    ]
}

update dependencies
  package-lock.json
  package.json
Due: none

Implement server side local storage and "saveInCache" in combination with "storeTemporary"
  global.d.ts
  out/app/GameServer.js
  out/app/WebServer.js
  out/app/utils/decorators.js
  package-lock.json
  package.json
  source/app/GameServer.ts
  source/app/WebServer.ts
  source/app/utils/decorators.ts
Due: tslint --project ./tsconfig.json --exclude source/app/client/ts/**/*.ts --fix, eslint --fix

stabelize first 2 params of attributes and properties
  baseTSConfig.json
  global.d.ts
  out/app/GameServer.js
  out/app/WebServer.js
  out/app/client/js/bundle.js
  out/app/client/ts/utils/util.js
  out/app/lib/BDOModel.js
  out/app/models/Test.js
  out/app/models/Test1.js
  out/app/utils/decorators.js
  package-lock.json
  package.json
  source/app/GameServer.ts
  source/app/WebServer.ts
  source/app/client/ts/components/ViewRouter.ts
  source/app/client/ts/lib/BaseComponent.ts
  source/app/client/ts/utils/util.ts
  source/app/lib/BDOModel.ts
  source/app/lib/Binding.ts
  source/app/models/Test.ts
  source/app/models/Test1.ts
  source/app/utils/decorators.ts
  tsconfig.json
  tslint.json
Due: tslint --project ./tsconfig.json --exclude source/app/client/ts/**/*.ts --fix, tslint --project ./source/app/client/ts/tsconfig.json --fix, eslint --fix

remove node-localstorage
  package.json
Due: none

fix initial watching
  baseTSConfig.json
  global.d.ts
  out/app/client/js/bundle.js
  out/app/client/ts/utils/util.js
  out/app/models/Test1.js
  out/app/utils/decorators.js
  source/app/client/ts/components/ViewLink.ts
  source/app/client/ts/components/ViewRouter.ts
  source/app/client/ts/utils/util.ts
  source/app/models/Test1.ts
  source/app/utils/decorators.ts
Due: tslint --project ./tsconfig.json --exclude source/app/client/ts/**/*.ts --fix, tslint --project ./source/app/client/ts/tsconfig.json --fix, eslint --fix

typesave metadata
  out/app/client/js/bundle.js
  out/app/client/ts/utils/util.js
  out/app/lib/BDOModel.js
  out/app/lib/Binding.js
  out/app/utils/decorators.js
  out/app/utils/metadata.js
  source/app/client/ts/lib/BaseComponent.ts
  source/app/client/ts/utils/util.ts
  source/app/lib/BDOModel.ts
  source/app/lib/Binding.ts
  source/app/utils/decorators.ts
  source/app/utils/metadata.ts
  tslint.json
Due: tslint --project ./tsconfig.json --exclude source/app/client/ts/**/*.ts --fix, tslint --project ./source/app/client/ts/tsconfig.json --fix, eslint --fix

Make BDOModels mixinable
  global.d.ts
  out/app/client/js/bundle.js
  out/app/lib/BDOModel.js
  out/app/lib/Binding.js
  out/app/models/BDOTest.js
  out/app/models/BDOTest1.js
  out/app/models/Test.js
  out/app/models/Test1.js
  out/app/server/api/TestResolver.js
  out/app/server/models/Test.js
  out/app/server/models/Test1.js
  out/app/utils/decorators.js
  out/app/utils/metadata.js
  source/app/client/ts/components/ViewLink.ts
  source/app/client/ts/models/Test.ts
  source/app/client/ts/models/Test1.ts
  source/app/lib/BDOModel.ts
  source/app/lib/Binding.ts
  source/app/models/BDOTest.ts
  source/app/models/BDOTest1.ts
  source/app/models/Test.ts
  source/app/models/Test1.ts
  source/app/server/api/TestResolver.ts
  source/app/server/models/Test.ts
  source/app/server/models/Test1.ts
  source/app/utils/decorators.ts
  source/app/utils/metadata.ts
Due: tslint --project ./tsconfig.json --exclude source/app/client/ts/**/*.ts --fix, tslint --project ./source/app/client/ts/tsconfig.json --fix, eslint --fix

normalize model structure
  out/app/client/js/bundle.js
  out/app/lib/BDOModel.js
  out/app/models/BDOTest.js
  out/app/models/BDOTest1.js
  out/app/server/lib/ServerModel.js
  out/app/server/models/Test.js
  source/app/client/ts/lib/ClientModel.ts
  source/app/client/ts/models/Test.ts
  source/app/lib/BDOModel.ts
  source/app/models/BDOTest.ts
  source/app/models/BDOTest1.ts
  source/app/server/lib/ServerModel.ts
  source/app/server/models/Test.ts
Due: tslint --project ./tsconfig.json --exclude source/app/client/ts/**/*.ts --fix, tslint --project ./source/app/client/ts/tsconfig.json --fix, eslint --fix

edit npm scripts
  package.json
Due: none

Create basic game-dev-cli
  game-dev-cli.ts
  package-lock.json
  package.json
Due: none

extend git attributes to avoid merge conflicts on build files
  .gitattributes
  package-lock.json
Due: none

bring back custimImportRule
  out/app/client/js/bundle.js
  out/game-dev-cli.js
  out/lintRules/customImportBlacklistRule.js
  source/app/client/ts/models/Test1.ts
  source/game-dev-cli.ts
Due: tslint --project ./tsconfig.json --exclude source/app/client/ts/**/*.ts --fix, tslint --project ./source/app/client/ts/tsconfig.json --fix, eslint --fix

bring back volumes
  docker-compose.yml
Due: none

bring back volumes and inspector
  docker-compose.yml
Due: none

bring back import fix
  out/app/client/ts/utils/util.js
  source/app/client/ts/lib/BaseComponent.ts
  source/app/client/ts/lib/ClientModel.ts
  source/app/utils/decorators.ts
Due: tslint --project ./tsconfig.json --exclude source/app/client/ts/**/*.ts --fix, tslint --project ./source/app/client/ts/tsconfig.json --fix, eslint --fix

fix decorator build
  out/app/client/js/bundle.js
  out/app/utils/decorators.js
Due: eslint --fix

fix custom import rule
  out/lintRules/customImportBlacklistRule.js
Due: eslint --fix

test post merge
  package-lock.json
  package.json
Due: none

Make game-dev-cli executable
  source/game-dev-cli.ts
Due: tslint --project ./tsconfig.json --exclude source/app/client/ts/**/*.ts --fix

Create second implementation for docker stack
  docker-compose.yml
  source/game-dev-cli.ts
Due: tslint --project ./tsconfig.json --exclude source/app/client/ts/**/*.ts --fix

Implement Docker Swarm functionality
  .dockerignore
  package-lock.json
  package.json
  source/game-dev-cli.ts
Due: tslint --project ./tsconfig.json --exclude source/app/client/ts/**/*.ts --fix

Add support for docker-compose
  source/game-dev-cli.ts
Due: tslint --project ./tsconfig.json --exclude source/app/client/ts/**/*.ts --fix

Shorten startup time of CLI
  source/game-dev-cli.ts
Due: tslint --project ./tsconfig.json --exclude source/app/client/ts/**/*.ts --fix

Make some changes to swarm deployment
  source/game-dev-cli.ts
Due: tslint --project ./tsconfig.json --exclude source/app/client/ts/**/*.ts --fix

Add Docs for dev-cli
  README.md
Due: none

Implement Logging
  source/game-dev-cli.ts
Due: tslint --project ./tsconfig.json --exclude source/app/client/ts/**/*.ts --fix

Add logging to README
  README.md
Due: none

add a flush parameter to restart the server from within the browser
  docker-compose.yml
  out/app/client/js/bundle.js
  out/app/client/js/templates.bundle.js
  out/app/lib/BDORoute.js
  out/app/server/api/TestResolver.js
  out/app/server/lib/BaseRoute.js
  out/app/server/lib/BaseServer.js
  out/app/views/home.njk
  source/app/lib/BDORoute.ts
  source/app/server/api/TestResolver.ts
  source/app/server/lib/BaseRoute.ts
  source/app/server/lib/BaseServer.ts
Due: tslint --project ./tsconfig.json --exclude source/app/client/ts/**/*.ts --fix, eslint --fix
