Repository Baumgaer/Game: changes, and which lint-staged commands are due for each by the changed paths.
All: tslint --project ./tsconfig.json --exclude source/app/client/ts/**/*.ts --fix, tslint --project ./source/app/client/ts/tsconfig.json --fix, eslint --fix

.lintstagedrc:

{
    "source/**/*.ts": [
        "tslint --project ./tsconfig.json --exclude source/app/client/ts/**/*.ts --fix",
        "git add"
    ],
    "source/**/*.*.ts": [
        "tslint --project ./tsconfig.json --exclude source/app/client/ts/**/*.ts --fix",
        "git add"
    ],
    "source/app/client/ts/**/*.ts": [
        "tslint --project ./source/app/client/ts/tsconfig.json --fix",
        "git add"
    ],
    "*.js": [
        "eslint --fix",
        "git add"
    ]
}

compiled version of game dev cli
  out/game-dev-cli.js
  package-lock.json
Due: eslint --fix

bring back source map support in backend
  source/app/GameServer.ts
  source/app/WebServer.ts
  tslint.json
Due: tslint --project ./tsconfig.json --exclude source/app/client/ts/**/*.ts --fix

change decorator storeTemporary behavior to fall back to default setting
  out/app/GameServer.js
  out/app/WebServer.js
  out/app/client/js/bundle.js
  out/app/utils/decorators.js
  source/app/utils/decorators.ts
Due: tslint --project ./tsconfig.json --exclude source/app/client/ts/**/*.ts --fix, eslint --fix

include nullable in expiration setter
  out/app/client/js/bundle.js
  out/app/utils/decorators.js
  source/app/utils/decorators.ts
Due: tslint --project ./tsconfig.json --exclude source/app/client/ts/**/*.ts --fix, eslint --fix

add documentation
  out/app/client/js/bundle.js
  out/app/utils/decorators.js
  source/app/utils/decorators.ts
Due: tslint --project ./tsconfig.json --exclude source/app/client/ts/**/*.ts --fix, eslint --fix

Refactor routes to equal models development
  out/app/client/js/bundle.js
  out/app/routes/BDOConfig.js
  out/app/routes/BDOGameLobby.js
  out/app/routes/BDOHome.js
  out/app/server/lib/BaseRoute.js
  out/app/server/lib/ServerRoute.js
  out/app/server/routes/Config.js
  out/app/server/routes/GameLobby.js
  out/app/server/routes/Home.js
  source/app/client/ts/lib/BaseRoute.ts
  source/app/client/ts/lib/ClientRoute.ts
  source/app/client/ts/routes/Config.ts
  source/app/client/ts/routes/GameLobby.ts
  source/app/client/ts/routes/Home.ts
  source/app/routes/BDOConfig.ts
  source/app/routes/BDOGameLobby.ts
  source/app/routes/BDOHome.ts
  source/app/server/lib/BaseRoute.ts
  source/app/server/lib/ServerRoute.ts
  source/app/server/routes/Config.ts
  source/app/server/routes/GameLobby.ts
  source/app/server/routes/Home.ts
Due: tslint --project ./tsconfig.json --exclude source/app/client/ts/**/*.ts --fix, tslint --project ./source/app/client/ts/tsconfig.json --fix, eslint --fix

add mode to restrict bindings in one way only
  global.d.ts
  out/app/client/js/bundle.js
  out/app/lib/BDOModel.js
  out/app/lib/Binding.js
  out/app/lib/Deletion.js
  out/app/utils/decorators.js
  out/app/utils/metadata.js
  source/app/client/ts/lib/BaseComponent.ts
  source/app/lib/BDOModel.ts
  source/app/lib/Binding.ts
  source/app/lib/Deletion.ts
  source/app/utils/decorators.ts
  source/app/utils/metadata.ts
Due: tslint --project ./tsconfig.json --exclude source/app/client/ts/**/*.ts --fix, tslint --project ./source/app/client/ts/tsconfig.json --fix, eslint --fix

force execution of setter when Deletion is passed in
  out/app/client/js/bundle.js
  out/app/utils/decorators.js
  source/app/utils/decorators.ts
Due: tslint --project ./tsconfig.json --exclude source/app/client/ts/**/*.ts --fix, eslint --fix

update dependencies and correct documentation
  out/app/client/js/bundle.js
  package-lock.json
  package.json
  source/app/utils/decorators.ts
Due: tslint --project ./tsconfig.json --exclude source/app/client/ts/**/*.ts --fix, eslint --fix

update dependencies
  package-lock.json
  package.json
Due: none

overwrite virtual entry points on compile to minimize file
  webpack.config.js
Due: eslint --fix

fix code convention
  out/game-dev-cli.js
  source/game-dev-cli.ts
Due: tslint --project ./tsconfig.json --exclude source/app/client/ts/**/*.ts --fix, eslint --fix

add possibility to remove items from namespaced storage
  out/app/client/js/bundle.js
  source/app/client/ts/lib/BaseComponent.ts
  source/app/client/ts/lib/ClientModel.ts
  source/app/client/ts/utils/util.ts
Due: tslint --project ./tsconfig.json --exclude source/app/client/ts/**/*.ts --fix, tslint --project ./source/app/client/ts/tsconfig.json --fix, eslint --fix

add missing doc strings to things which are partly finalized
  out/app/client/js/bundle.js
  out/app/lib/Attribute.js
  out/app/lib/BDOConfigManager.js
  out/app/lib/BDORoute.js
  out/app/lib/Property.js
  out/app/lib/Watched.js
  out/app/server/lib/WebSocketServer.js
  out/app/server/routes/GameLobby.js
  out/app/server/routes/Home.js
  setup.js
  source/app/client/ts/components/ViewRouter.ts
  source/app/client/ts/lib/ClientRoute.ts
  source/app/client/ts/lib/ConfigManager.ts
  source/app/client/ts/routes/Config.ts
  source/app/client/ts/routes/GameLobby.ts
  source/app/client/ts/routes/Home.ts
  source/app/lib/Attribute.ts
  source/app/lib/BDOConfigManager.ts
  source/app/lib/BDORoute.ts
  source/app/lib/Property.ts
  source/app/lib/Watched.ts
  source/app/routes/BDOConfig.ts
  source/app/routes/BDOGameLobby.ts
  source/app/routes/BDOHome.ts
  source/app/server/lib/WebSocketServer.ts
  source/app/server/routes/GameLobby.ts
  source/app/server/routes/Home.ts
Due: tslint --project ./tsconfig.json --exclude source/app/client/ts/**/*.ts --fix, tslint --project ./source/app/client/ts/tsconfig.json --fix, eslint --fix

make arangodb persistent and add some deploy config
  docker-compose.yml
Due: none

adjust process identification to docker
  docker-compose.yml
  out/app/client/js/bundle.js
  out/app/lib/BDOLogger.js
  out/app/server/lib/WebSocketServer.js
  out/app/server/utils/environment.js
  source/app/lib/BDOLogger.ts
  source/app/server/lib/WebSocketServer.ts
  source/app/server/utils/environment.ts
Due: tslint --project ./tsconfig.json --exclude source/app/client/ts/**/*.ts --fix, eslint --fix

add a more easy way to use game-dev-cli
  README.md
  package.json
Due: none

add possibility to add the name of the collection where a model is saved in
  out/app/client/js/bundle.js
  out/app/lib/BDOModel.js
  out/app/models/BDOTest.js
  out/app/models/BDOTest1.js
  out/app/utils/decorators.js
  out/app/utils/metadata.js
  source/app/client/ts/models/Test.ts
  source/app/client/ts/models/Test1.ts
  source/app/lib/BDOModel.ts
  source/app/models/BDOTest.ts
  source/app/models/BDOTest1.ts
  source/app/utils/decorators.ts
  source/app/utils/metadata.ts
Due: tslint --project ./tsconfig.json --exclude source/app/client/ts/**/*.ts --fix, tslint --project ./source/app/client/ts/tsconfig.json --fix, eslint --fix

add localForage
  out/app/client/js/bundle.js
  package-lock.json
  package.json
  source/app/client/ts/lib/ClientModel.ts
Due: tslint --project ./tsconfig.json --exclude source/app/client/ts/**/*.ts --fix, tslint --project ./source/app/client/ts/tsconfig.json --fix, eslint --fix

add sequence correction to decorators
  out/app/client/js/bundle.js
  out/app/utils/decorators.js
  source/app/utils/decorators.ts
Due: tslint --project ./tsconfig.json --exclude source/app/client/ts/**/*.ts --fix, eslint --fix

add errormessages
  source/app/server/lib/ServerRoute.ts
Due: tslint --project ./tsconfig.json --exclude source/app/client/ts/**/*.ts --fix

prepare decorators for localForage and values received from server
  out/app/client/js/bundle.js
  out/app/lib/Attribute.js
  out/app/lib/Binding.js
  out/app/lib/Deletion.js
  out/app/lib/Modification.js
  out/app/lib/Property.js
  out/app/lib/Watched.js
  out/app/models/Chunk.js
  out/app/server/lib/Logger.js
  out/app/server/utils/environment.js
  out/app/utils/decorators.js
  out/app/utils/environment.js
  out/app/utils/metadata.js
  out/game-dev-cli.js
  out/lintRules/customImportBlacklistRule.js
  out/tasks/cleanup.js
  out/tasks/compile.js
  package-lock.json
  package.json
  source/app/lib/Attribute.ts
  source/app/lib/Binding.ts
  source/app/lib/Deletion.ts
  source/app/lib/Modification.ts
  source/app/lib/Property.ts
  source/app/lib/Watched.ts
  source/app/server/lib/Logger.ts
  source/app/utils/decorators.ts
  source/app/utils/metadata.ts
Due: tslint --project ./tsconfig.json --exclude source/app/client/ts/**/*.ts --fix, eslint --fix

store in unsaved changes and determine type of attributes in a DOM
  out/app/client/js/bundle.js
  out/app/lib/Attribute.js
  out/app/lib/BDOModel.js
  out/app/lib/Modification.js
  out/app/lib/Property.js
  out/app/models/BDOTest.js
  out/app/utils/metadata.js
  out/app/utils/util.js
  out/tasks/cleanup.js
  out/tasks/compile.js
  out/tasks/postMerge.js
  source/app/client/ts/lib/BaseComponent.ts
  source/app/lib/Attribute.ts
  source/app/lib/BDOModel.ts
  source/app/lib/Modification.ts
  source/app/lib/Property.ts
  source/app/models/BDOTest.ts
  source/app/utils/metadata.ts
  source/app/utils/util.ts
  source/tasks/cleanup.ts
  source/tasks/compile.ts
  source/tasks/postMerge.ts
Due: tslint --project ./tsconfig.json --exclude source/app/client/ts/**/*.ts --fix, tslint --project ./source/app/client/ts/tsconfig.json --fix, eslint --fix

allow setting attributes which are nit defined in a component
  out/app/client/js/bundle.js
  out/app/utils/util.js
  source/app/utils/util.ts
Due: tslint --project ./tsconfig.json --exclude source/app/client/ts/**/*.ts --fix, eslint --fix

implement basic autosave mechanism with debouncing
  out/app/client/js/bundle.js
  out/app/lib/Attribute.js
  out/app/lib/BDOModel.js
  out/app/server/lib/ServerModel.js
  source/app/client/ts/lib/ClientModel.ts
  source/app/client/ts/models/Test1.ts
  source/app/lib/Attribute.ts
  source/app/lib/BDOModel.ts
  source/app/server/lib/ServerModel.ts
Due: tslint --project ./tsconfig.json --exclude source/app/client/ts/**/*.ts --fix, tslint --project ./source/app/client/ts/tsconfig.json --fix, eslint --fix

refactoring
  out/app/client/js/bundle.js
  out/app/lib/Attribute.js
  source/app/lib/Attribute.ts
Due: tslint --project ./tsconfig.json --exclude source/app/client/ts/**/*.ts --fix, eslint --fix

implement runtime type guard
  out/app/client/js/bundle.js
  out/app/lib/Property.js
  out/app/utils/decorators.js
  out/app/utils/util.js
  out/lintRules/customImportBlacklistRule.js
  source/app/client/ts/lib/BaseComponent.ts
  source/app/client/ts/lib/ClientModel.ts
  source/app/lib/Property.ts
  source/app/server/lib/ServerModel.ts
  source/app/utils/decorators.ts
  source/app/utils/util.ts
  source/lintRules/customImportBlacklistRule.ts
Due: tslint --project ./tsconfig.json --exclude source/app/client/ts/**/*.ts --fix, tslint --project ./source/app/client/ts/tsconfig.json --fix, eslint --fix

improve the type checker
  out/app/client/js/bundle.js
  out/app/lib/Attribute.js
  out/app/lib/Property.js
  source/app/lib/Attribute.ts
  source/app/lib/Property.ts
Due: tslint --project ./tsconfig.json --exclude source/app/client/ts/**/*.ts --fix, eslint --fix

fix imports
  out/app/server/lib/WebSocketServer.js
  out/app/server/utils/environment.js
  source/app/server/lib/WebSocketServer.ts
  source/app/server/utils/environment.ts
Due: tslint --project ./tsconfig.json --exclude source/app/client/ts/**/*.ts --fix, eslint --fix

add v8 utils for browsers
  package-lock.json
  package.json
Due: none

Improve typeguard
  out/app/client/js/bundle.js
  out/app/lib/Attribute.js
  out/app/lib/Errors.js
  out/app/lib/Property.js
  out/app/lib/Watched.js
  source/app/lib/Attribute.ts
  source/app/lib/Errors.ts
  source/app/lib/Property.ts
  source/app/lib/Watched.ts
Due: tslint --project ./tsconfig.json --exclude source/app/client/ts/**/*.ts --fix, eslint --fix

stop execution of watch when update from an interface is passed
  out/app/client/js/bundle.js
  out/app/lib/Watched.js
  source/app/lib/Watched.ts
Due: tslint --project ./tsconfig.json --exclude source/app/client/ts/**/*.ts --fix, eslint --fix

migrate to typescript 3.6.3
  out/app/client/js/bundle.js
  out/app/lib/Attribute.js
  out/app/lib/BDOModel.js
  out/app/lib/BDORoute.js
  out/app/lib/Binding.js
  out/app/lib/Property.js
  out/app/lib/Watched.js
  out/app/models/BDOTest.js
  out/app/models/BDOTest1.js
  out/app/server/lib/ServerModel.js
  package-lock.json
  package.json
  source/app/lib/Attribute.ts
  source/app/lib/Binding.ts
  source/app/lib/Property.ts
  source/app/lib/Watched.ts
Due: tslint --project ./tsconfig.json --exclude source/app/client/ts/**/*.ts --fix, eslint --fix

add reactions to array and make proxies identical
  out/app/client/js/bundle.js
  out/app/lib/Attribute.js
  out/app/lib/Binding.js
  out/app/lib/Field.js
  out/app/lib/Property.js
  out/app/lib/Watched.js
  out/app/models/BDOTest.js
  out/app/utils/decorators.js
  out/app/utils/framework.js
  source/app/client/ts/components/ViewLink.ts
  source/app/client/ts/lib/BaseComponent.ts
  source/app/client/ts/lib/ClientModel.ts
  source/app/client/ts/models/Test1.ts
  source/app/lib/Attribute.ts
  source/app/lib/Binding.ts
  source/app/lib/Field.ts
  source/app/lib/Property.ts
  source/app/lib/Watched.ts
  source/app/models/BDOTest.ts
  source/app/utils/decorators.ts
  source/app/utils/framework.ts
Due: tslint --project ./tsconfig.json --exclude source/app/client/ts/**/*.ts --fix, tslint --project ./source/app/client/ts/tsconfig.json --fix, eslint --fix
