Repository Baumgaer/Game: changes, and which lint-staged commands are due for each by the changed paths.
All: tslint --project ./tsconfig.json --exclude source/app/client/ts/**/*.ts --fix, tslint --project ./source/app/client/ts/tsconfig.json --fix, eslint --fix

.lintstagedrc:

{
    "source/**/*.ts": [
        "tslint --project ./tsconfig.json --exclude source/app/client/ts/**/*.ts --fix",
        "git add"
    ],
    "source/**/*.*.ts": [
        "tslint --project ./tsconfig.json --exclude source/app/client/ts/**/*.ts --fix",
        "git add"
    ],
    "source/app/client/ts/**/*.ts": [
        "tslint --project ./source/app/client/ts/tsconfig.json --fix",
        "git add"
    ],
    "*.js": [
        "eslint --fix",
        "git add"
    ]
}

update dependencies
  package-lock.json
  package.json
Due: none

silence typeGraphQL because of missing type annotation
  out/app/client/js/bundle.js
  out/app/models/BDOTest.js
  source/app/models/BDOTest.ts
Due: tslint --project ./tsconfig.json --exclude source/app/client/ts/**/*.ts --fix, eslint --fix

remove temporary storage because of too much conflicts
  out/app/client/js/bundle.js
  out/app/lib/Attribute.js
  out/app/lib/Property.js
  out/app/utils/metadata.js
  out/app/utils/util.js
  package-lock.json
  package.json
  source/app/client/ts/components/ViewLink.ts
  source/app/lib/Attribute.ts
  source/app/lib/Property.ts
  source/app/utils/metadata.ts
  source/app/utils/util.ts
Due: tslint --project ./tsconfig.json --exclude source/app/client/ts/**/*.ts --fix, tslint --project ./source/app/client/ts/tsconfig.json --fix, eslint --fix

Fix watching for property
  out/app/client/js/bundle.js
  out/app/client/js/templates.bundle.js
  out/app/lib/Attribute.js
  out/app/lib/Binding.js
  out/app/lib/Field.js
  out/app/lib/Property.js
  out/app/lib/Watched.js
  out/app/models/BDOTest.js
  out/app/views/home.njk
  source/app/client/ts/components/ViewLink.ts
  source/app/lib/Attribute.ts
  source/app/lib/Binding.ts
  source/app/lib/Field.ts
  source/app/lib/Property.ts
  source/app/lib/Watched.ts
  source/app/models/BDOTest.ts
Due: tslint --project ./tsconfig.json --exclude source/app/client/ts/**/*.ts --fix, tslint --project ./source/app/client/ts/tsconfig.json --fix, eslint --fix

finalize decorators
  out/app/client/js/bundle.js
  out/app/lib/Attribute.js
  out/app/lib/Field.js
  out/app/lib/Property.js
  out/app/lib/Watched.js
  source/app/client/ts/components/ViewLink.ts
  source/app/lib/Attribute.ts
  source/app/lib/Field.ts
  source/app/lib/Property.ts
  source/app/lib/Watched.ts
Due: tslint --project ./tsconfig.json --exclude source/app/client/ts/**/*.ts --fix, tslint --project ./source/app/client/ts/tsconfig.json --fix, eslint --fix

add documentation and more strict visibility
  out/app/client/js/bundle.js
  out/app/lib/Attribute.js
  out/app/lib/Field.js
  out/app/lib/Watched.js
  source/app/lib/Attribute.ts
  source/app/lib/Field.ts
  source/app/lib/Watched.ts
Due: tslint --project ./tsconfig.json --exclude source/app/client/ts/**/*.ts --fix, eslint --fix

build changes
  out/app/client/js/bundle.js
  out/app/lib/Field.js
Due: eslint --fix

unsaved changes save refactoring
  out/app/client/js/bundle.js
  out/app/lib/Attribute.js
  out/app/lib/BDOModel.js
  out/app/models/BDOTest.js
  out/app/server/lib/ServerModel.js
  out/app/utils/util.js
  source/app/client/ts/lib/ClientModel.ts
  source/app/lib/Attribute.ts
  source/app/lib/BDOModel.ts
  source/app/models/BDOTest.ts
  source/app/server/lib/ServerModel.ts
  source/app/utils/util.ts
Due: tslint --project ./tsconfig.json --exclude source/app/client/ts/**/*.ts --fix, tslint --project ./source/app/client/ts/tsconfig.json --fix, eslint --fix

update dependencies
  out/app/client/js/bundle.js
  package-lock.json
  package.json
Due: eslint --fix

migrate to connect-redis v4
  out/app/client/js/bundle.js
  out/app/server/lib/BaseServer.js
  out/app/server/lib/RedisClientManager.js
  package-lock.json
  package.json
  source/app/server/lib/BaseServer.ts
  source/app/server/lib/RedisClientManager.ts
Due: tslint --project ./tsconfig.json --exclude source/app/client/ts/**/*.ts --fix, eslint --fix

reference models in database and some refactoring
  out/app/client/js/bundle.js
  out/app/lib/BDOModel.js
  out/app/lib/BaseConstructor.js
  out/app/utils/decorators.js
  out/app/utils/metadata.js
  source/app/client/ts/lib/ClientModel.ts
  source/app/lib/BDOModel.ts
  source/app/lib/BaseConstructor.ts
  source/app/utils/decorators.ts
  source/app/utils/metadata.ts
Due: tslint --project ./tsconfig.json --exclude source/app/client/ts/**/*.ts --fix, tslint --project ./source/app/client/ts/tsconfig.json --fix, eslint --fix

proxy behavior refinements
  out/app/client/js/bundle.js
  out/app/lib/Field.js
  out/app/lib/Property.js
  out/app/lib/Watched.js
  out/app/utils/decorators.js
  source/app/client/ts/components/ViewLink.ts
  source/app/client/ts/lib/ClientModel.ts
  source/app/lib/Field.ts
  source/app/lib/Property.ts
  source/app/lib/Watched.ts
  source/app/utils/decorators.ts
Due: tslint --project ./tsconfig.json --exclude source/app/client/ts/**/*.ts --fix, tslint --project ./source/app/client/ts/tsconfig.json --fix, eslint --fix

make it easyer to define routes with namespace and paths
  out/app/client/js/bundle.js
  out/app/server/lib/BaseServer.js
  out/app/server/lib/ServerRoute.js
  out/app/utils/util.js
  source/app/server/lib/BaseServer.ts
  source/app/server/lib/ServerRoute.ts
  source/app/utils/util.ts
Due: tslint --project ./tsconfig.json --exclude source/app/client/ts/**/*.ts --fix, eslint --fix

optimize shallow detection in field proxy
  out/app/client/js/bundle.js
  out/app/lib/Field.js
  source/app/lib/Field.ts
Due: tslint --project ./tsconfig.json --exclude source/app/client/ts/**/*.ts --fix, eslint --fix

add ModelRegistry to get always the same model instance
  out/app/client/js/bundle.js
  out/app/lib/ModelRegistry.js
  out/app/utils/decorators.js
  out/app/utils/framework.js
  source/app/lib/ModelRegistry.ts
  source/app/utils/decorators.ts
  source/app/utils/framework.ts
Due: tslint --project ./tsconfig.json --exclude source/app/client/ts/**/*.ts --fix, eslint --fix

extend model registry
  out/app/client/js/bundle.js
  out/app/lib/ModelRegistry.js
  source/app/lib/ModelRegistry.ts
Due: tslint --project ./tsconfig.json --exclude source/app/client/ts/**/*.ts --fix, eslint --fix

get models by id with model registry
  global.d.ts
  out/app/client/js/bundle.js
  out/app/lib/Attribute.js
  out/app/lib/BDOModel.js
  out/app/lib/ModelRegistry.js
  out/app/utils/framework.js
  source/app/client/ts/lib/ClientModel.ts
  source/app/client/ts/models/Test1.ts
  source/app/lib/Attribute.ts
  source/app/lib/BDOModel.ts
  source/app/lib/ModelRegistry.ts
  source/app/utils/framework.ts
Due: tslint --project ./tsconfig.json --exclude source/app/client/ts/**/*.ts --fix, tslint --project ./source/app/client/ts/tsconfig.json --fix, eslint --fix

some documentation correction
  source/app/lib/Attribute.ts
  source/app/lib/BaseConstructor.ts
  source/app/lib/Property.ts
Due: tslint --project ./tsconfig.json --exclude source/app/client/ts/**/*.ts --fix

add possibility to inherit parameters from previous decorator of same field
  out/app/client/js/bundle.js
  out/app/lib/Attribute.js
  out/app/lib/BaseConstructor.js
  out/app/models/BDOTest1.js
  out/app/utils/decorators.js
  out/app/utils/framework.js
  out/app/utils/metadata.js
  source/app/client/ts/lib/BaseComponent.ts
  source/app/client/ts/lib/ClientModel.ts
  source/app/models/BDOTest1.ts
  source/app/utils/decorators.ts
  source/app/utils/framework.ts
  source/app/utils/metadata.ts
Due: tslint --project ./tsconfig.json --exclude source/app/client/ts/**/*.ts --fix, tslint --project ./source/app/client/ts/tsconfig.json --fix, eslint --fix

fix missing parameters of inherited decorators
  out/app/client/js/bundle.js
  out/app/lib/Attribute.js
  out/app/lib/Property.js
  out/app/utils/decorators.js
  out/app/utils/framework.js
  source/app/lib/Attribute.ts
  source/app/lib/Property.ts
  source/app/utils/decorators.ts
  source/app/utils/framework.ts
Due: tslint --project ./tsconfig.json --exclude source/app/client/ts/**/*.ts --fix, eslint --fix

fix save function
  out/app/client/js/bundle.js
  source/app/client/ts/lib/ClientModel.ts
Due: tslint --project ./tsconfig.json --exclude source/app/client/ts/**/*.ts --fix, tslint --project ./source/app/client/ts/tsconfig.json --fix, eslint --fix

update dependencies and implement graceful shutdown
  out/app/server/lib/BaseServer.js
  package-lock.json
  package.json
  source/app/server/lib/BaseServer.ts
Due: tslint --project ./tsconfig.json --exclude source/app/client/ts/**/*.ts --fix, eslint --fix

update dependencies
  Dockerfile
  package-lock.json
  package.json
Due: none

dependencies audit fix
  package-lock.json
Due: none

auto restart server on file change
  Dockerfile
  docker-compose.yml
  ecosystem.config.js
  nodemon.json
  out/app/client/js/templates.bundle.js
  out/app/views/home.njk
  package-lock.json
  package.json
Due: eslint --fix

allow importing json files
  baseTSConfig.json
Due: none
