Repository Baumgaer/Game: changes, and which lint-staged commands are due for each by the changed paths.
All: tslint --project ./tsconfig.json --exclude source/app/client/ts/**/*.ts --fix, tslint --project ./source/app/client/ts/tsconfig.json --fix, eslint --fix

.lintstagedrc:

{
    "source/**/*.ts": [
        "tslint --project ./tsconfig.json --exclude source/app/client/ts/**/*.ts --fix"
    ],
    "source/**/*.*.ts": [
        "tslint --project ./tsconfig.json --exclude source/app/client/ts/**/*.ts --fix"
    ],
    "source/app/client/ts/**/*.ts": [
        "tslint --project ./source/app/client/ts/tsconfig.json --fix"
    ],
    "*.js": [
        "eslint --fix"
    ]
}

switch from ini to yaml and generate interfaces for type safety
  .gitignore
  gruntfile.js
  out/app/client/config/config.ini
  out/app/client/config/config.yaml
  out/app/client/config/spec/spec.ini
  out/app/client/config/spec/spec.yaml
  out/app/config/biomes.ini
  out/app/config/biomes.yaml
  out/app/config/config.ini
  out/app/config/config.yaml
  out/app/config/spec/spec.ini
  out/app/config/spec/spec.yaml
  out/app/server/config/config.ini
  out/app/server/config/config.yaml
  out/app/server/config/databases.ini
  out/app/server/config/databases.yaml
  out/app/server/config/passwords.ini
  out/app/server/config/passwords.yaml
  out/app/server/config/paths.ini
  out/app/server/config/paths.yaml
  out/app/server/config/ports.ini
  out/app/server/config/ports.yaml
  out/app/server/config/spec.ini
  out/app/server/config/spec.yaml
  out/app/server/config/spec/spec.ini
  out/app/server/config/spec/spec.yaml
  package-lock.json
  package.json
  source/app/lib/BDOConfigManager.ts
  source/app/server/lib/BaseServer.ts
  source/app/server/lib/ConfigManager.ts
  source/tasks/cleanup.ts
  source/tasks/compile.ts
Due: tslint --project ./tsconfig.json --exclude source/app/client/ts/**/*.ts --fix, eslint --fix

update eslintrc
  .eslintrc
Due: none

pre generate config interfaces and some refactoring
  .gitignore
  eslint/README.md
  localPackages/README.md
  localPackages/configInterfaces.ts
  localPackages/index.d.ts
  localPackages/index.js
  localPackages/package.json
  package-lock.json
  package.json
  source/app/README.md
  source/app/server/lib/ConfigManager.ts
  source/tasks/compile.ts
  source/utils/projectStructure.ts
Due: tslint --project ./tsconfig.json --exclude source/app/client/ts/**/*.ts --fix, eslint --fix

some refactoring
  source/app/client/ts/tsconfig.json
  tsconfig.base.json
  tsconfig.json
Due: none

cleanup and restructuring
  Dockerfile
  localPackages/README.md
  localPackages/index.d.ts
  localPackages/index.js
  localPackages/package.json
  out/app/config/spec.yaml
  package-lock.json
  package.json
  source/app/interfaces/Config.ts
  source/app/lib/Watched.ts
  source/app/server/lib/ConfigManager.ts
  source/app/server/lib/WebSocketServer.ts
  source/app/server/routes/Config.ts
  source/app/utils/util.ts
  source/tasks/compile.ts
  source/utils/requireOverride.ts
  tsconfig.infra.json
Due: tslint --project ./tsconfig.json --exclude source/app/client/ts/**/*.ts --fix, eslint --fix

move api path to bdo section
  out/app/config/paths.yaml
  out/app/server/config/paths.yaml
  source/app/interfaces/Config.ts
Due: tslint --project ./tsconfig.json --exclude source/app/client/ts/**/*.ts --fix

integrate typeorm entities and sql.js
  global.d.ts
  package-lock.json
  package.json
  source/app/client/ts/lib/ClientModel.ts
  source/app/client/ts/lib/DatabaseManager.ts
  source/app/lib/BDODatabaseManager.ts
  source/app/lib/BDOModel.ts
  source/app/lib/BaseConstructor.ts
  source/app/models/BDOTest.ts
  source/app/server/lib/BaseServer.ts
  source/app/server/lib/ServerModel.ts
  source/app/utils/decorators.ts
  source/app/utils/framework.ts
  source/app/utils/metadata.ts
  webpack.config.js
Due: tslint --project ./tsconfig.json --exclude source/app/client/ts/**/*.ts --fix, tslint --project ./source/app/client/ts/tsconfig.json --fix, eslint --fix

limit entities in database
  source/app/client/ts/lib/ClientModel.ts
  source/app/client/ts/lib/DatabaseManager.ts
Due: tslint --project ./tsconfig.json --exclude source/app/client/ts/**/*.ts --fix, tslint --project ./source/app/client/ts/tsconfig.json --fix

add lifecycle methods for database actions
  source/app/client/ts/lib/ClientModel.ts
  source/app/client/ts/models/Test2.ts
  source/app/lib/BDOModel.ts
  source/app/lib/BaseConstructor.ts
  source/app/models/BDOTest.ts
  source/app/models/BDOTest1.ts
  source/app/utils/decorators.ts
Due: tslint --project ./tsconfig.json --exclude source/app/client/ts/**/*.ts --fix, tslint --project ./source/app/client/ts/tsconfig.json --fix

correct type
  source/app/server/lib/BaseServer.ts
Due: tslint --project ./tsconfig.json --exclude source/app/client/ts/**/*.ts --fix

update dependencies
  package-lock.json
  package.json
Due: none

use inline source maps
  webpack.config.js
Due: eslint --fix

implement basic column types
  source/app/client/ts/models/Test1.ts
  source/app/lib/Field.ts
  source/app/server/models/Test1.ts
  source/app/utils/decorators.ts
  source/app/utils/framework.ts
  source/app/utils/metadata.ts
Due: tslint --project ./tsconfig.json --exclude source/app/client/ts/**/*.ts --fix, tslint --project ./source/app/client/ts/tsconfig.json --fix

implement column types for database integration and fix class name as database value
  global.d.ts
  source/app/lib/BDOModel.ts
  source/app/lib/BaseConstructor.ts
  source/app/models/BDOTest1.ts
  source/app/utils/decorators.ts
  source/app/utils/framework.ts
Due: tslint --project ./tsconfig.json --exclude source/app/client/ts/**/*.ts --fix

Fix typeguard with special decorated types
  source/app/client/ts/models/Test1.ts
  source/app/lib/Field.ts
  source/app/utils/util.ts
Due: tslint --project ./tsconfig.json --exclude source/app/client/ts/**/*.ts --fix, tslint --project ./source/app/client/ts/tsconfig.json --fix

switch source maps again
  out/app/views/head.njk
  webpack.config.js
Due: eslint --fix

reduce calls of constructors and typeguards
  source/app/client/ts/lib/BaseComponent.ts
  source/app/lib/Distributor.ts
Due: tslint --project ./tsconfig.json --exclude source/app/client/ts/**/*.ts --fix, tslint --project ./source/app/client/ts/tsconfig.json --fix

cleanup and fix configs
  .babelrc
  .prettierrc
  nodemon.json
Due: none

add redis insight as admin tool
  docker-compose.yml
Due: none

move docker compose config into project config and use short extension to get icon support for better recognition
  Dockerfile
  docker-compose.yml
  gruntfile.js
  out/app/client/config/config.yml
  out/app/client/config/spec/spec.yml
  out/app/config/biomes.yml
  out/app/config/config.yml
  out/app/config/development/docker-compose.yml
  out/app/config/docker-compose.yml
  out/app/config/paths.yml
  out/app/config/spec.yml
  out/app/config/spec/spec.yml
  out/app/server/config/config.yml
  out/app/server/config/databases.yml
  out/app/server/config/development/docker-compose.yml
  out/app/server/config/docker-compose.yml
  out/app/server/config/passwords.yml
  out/app/server/config/paths.yml
  out/app/server/config/ports.yml
  out/app/server/config/spec.yml
  out/app/server/config/spec/spec.yml
  package.json
  source/app/client/ts/components/ViewRouter.ts
  source/app/interfaces/Config.ts
  source/app/lib/BDOLogger.ts
  source/app/server/lib/BaseServer.ts
  source/app/server/lib/ConfigManager.ts
  source/app/server/utils/environment.ts
  source/tasks/compile.ts
Due: tslint --project ./tsconfig.json --exclude source/app/client/ts/**/*.ts --fix, tslint --project ./source/app/client/ts/tsconfig.json --fix, eslint --fix

fix routing since navigo is broken and add first version of WebClient corresponding to WebServer
  modules.d.ts
  package-lock.json
  package.json
  source/app/client/ts/WebClient.ts
  source/app/client/ts/components/ViewLink.ts
  source/app/client/ts/components/ViewRouter.ts
  source/app/client/ts/lib/BaseClient.ts
  source/app/client/ts/lib/ClientRoute.ts
  source/app/server/lib/BaseServer.ts
  source/app/server/utils/environment.ts
Due: tslint --project ./tsconfig.json --exclude source/app/client/ts/**/*.ts --fix, tslint --project ./source/app/client/ts/tsconfig.json --fix

correct types
  source/app/client/ts/lib/ClientRoute.ts
  source/app/lib/BDORoute.ts
Due: tslint --project ./tsconfig.json --exclude source/app/client/ts/**/*.ts --fix, tslint --project ./source/app/client/ts/tsconfig.json --fix

correct param name
  source/app/client/ts/lib/ClientRoute.ts
Due: tslint --project ./tsconfig.json --exclude source/app/client/ts/**/*.ts --fix, tslint --project ./source/app/client/ts/tsconfig.json --fix

add hint for undefined route on client side
  out/app/client/views/testComponent.njk
  out/app/views/master.njk
  source/app/client/ts/lib/BaseClient.ts
Due: tslint --project ./tsconfig.json --exclude source/app/client/ts/**/*.ts --fix, tslint --project ./source/app/client/ts/tsconfig.json --fix

prepare resolver for fullstack structure and fix missing column when no type function was given to attribute decorator
  source/app/api/BDOTestResolver.ts
  source/app/client/ts/api/TestResolver.ts
  source/app/client/ts/lib/BaseClient.ts
  source/app/client/ts/lib/ClientResolver.ts
  source/app/lib/BDOResolver.ts
  source/app/models/BDOTest.ts
  source/app/server/lib/ServerResolver.ts
  source/app/utils/decorators.ts
Due: tslint --project ./tsconfig.json --exclude source/app/client/ts/**/*.ts --fix, tslint --project ./source/app/client/ts/tsconfig.json --fix

add delay to nodemon restart
  nodemon.json
Due: none

prepare models for organized queries
  global.d.ts
  source/app/client/ts/lib/ClientModel.ts
  source/app/client/ts/models/Test1.ts
  source/app/lib/Attribute.ts
  source/app/lib/BDOModel.ts
  source/app/server/lib/ServerModel.ts
Due: tslint --project ./tsconfig.json --exclude source/app/client/ts/**/*.ts --fix, tslint --project ./source/app/client/ts/tsconfig.json --fix

equalize template inheritance to bdo inheritance and implement first version on webclient for bundle optimization
  out/app/client/views/DefaultTemplate.njk
  out/app/server/views/HomeRoute.njk
  out/app/server/views/ServerRoute.njk
  out/app/views/BDOHomeRoute.njk
  out/app/views/BDORoute.njk
  source/app/client/less/global.less
  source/app/client/ts/WebClient.ts
  source/app/client/ts/components/WebClient.ts
  source/app/client/ts/lib/BaseClient.ts
  source/app/client/ts/lib/BaseComponent.ts
  source/app/client/ts/lib/DatabaseManager.ts
  source/app/lib/BaseConstructor.ts
  source/app/routes/BDOHome.ts
  source/app/server/routes/Home.ts
  webpack.config.js
Due: tslint --project ./tsconfig.json --exclude source/app/client/ts/**/*.ts --fix, tslint --project ./source/app/client/ts/tsconfig.json --fix, eslint --fix

first ugly layout and some tiny bugfixes
  out/app/client/views/BaseComponent.njk
  out/app/client/views/DefaultTemplate.njk
  out/app/client/views/WebClient.njk
  source/app/client/less/BaseComponent.less
  source/app/client/less/components/SectionPanel.less
  source/app/client/less/components/SectionPanelSplitter.less
  source/app/client/less/components/WebClient.less
  source/app/client/less/global.less
  source/app/client/ts/components/ContentPanel.ts
  source/app/client/ts/components/SectionPanel.ts
  source/app/client/ts/components/SectionPanelSplitter.ts
  source/app/client/ts/components/TabBar.ts
  source/app/client/ts/lib/BaseComponent.ts
Due: tslint --project ./tsconfig.json --exclude source/app/client/ts/**/*.ts --fix, tslint --project ./source/app/client/ts/tsconfig.json --fix

first version of panesplitter
  out/app/client/views/WebClient.njk
  source/app/client/ts/components/SectionPanelSplitter.ts
  source/app/client/ts/lib/BaseComponent.ts
Due: tslint --project ./tsconfig.json --exclude source/app/client/ts/**/*.ts --fix, tslint --project ./source/app/client/ts/tsconfig.json --fix

remove upper case game lobby
  out/app/views/GameLobby.njk
Due: none

stabelize splitter
  out/app/client/views/SectionPanelSplitter.njk
  out/app/client/views/WebClient.njk
  source/app/client/less/components/SectionPanelSplitter.less
  source/app/client/less/components/WebClient.less
  source/app/client/ts/components/SectionPanelSplitter.ts
  source/app/client/ts/lib/BaseComponent.ts
Due: tslint --project ./tsconfig.json --exclude source/app/client/ts/**/*.ts --fix, tslint --project ./source/app/client/ts/tsconfig.json --fix

add missing case to splitter on collapse
  source/app/client/ts/components/SectionPanelSplitter.ts
Due: tslint --project ./tsconfig.json --exclude source/app/client/ts/**/*.ts --fix, tslint --project ./source/app/client/ts/tsconfig.json --fix

finalize splitter
  source/app/client/less/components/SectionPanelSplitter.less
  source/app/client/ts/components/SectionPanelSplitter.ts
Due: tslint --project ./tsconfig.json --exclude source/app/client/ts/**/*.ts --fix, tslint --project ./source/app/client/ts/tsconfig.json --fix

add description
  source/app/client/ts/components/SectionPanelSplitter.ts
Due: tslint --project ./tsconfig.json --exclude source/app/client/ts/**/*.ts --fix, tslint --project ./source/app/client/ts/tsconfig.json --fix

cleanup
  source/app/client/ts/components/SectionPanel.ts
Due: tslint --project ./tsconfig.json --exclude source/app/client/ts/**/*.ts --fix, tslint --project ./source/app/client/ts/tsconfig.json --fix

correct comments
  source/app/client/ts/components/SectionPanel.ts
  source/app/client/ts/components/SectionPanelSplitter.ts
Due: tslint --project ./tsconfig.json --exclude source/app/client/ts/**/*.ts --fix, tslint --project ./source/app/client/ts/tsconfig.json --fix
