Repository Baumgaer/Game: changes, and which lint-staged commands are due for each by the changed paths.
All: tslint --project ./tsconfig.json --exclude source/app/client/ts/**/*.ts --fix, tslint --project ./source/app/client/ts/tsconfig.json --fix, eslint --fix

.lintstagedrc:

{
    "source/**/*.ts": [
        "tslint --project ./tsconfig.json --exclude source/app/client/ts/**/*.ts --fix"
    ],
    "source/**/*.*.ts": [
        "tslint --project ./tsconfig.json --exclude source/app/client/ts/**/*.ts --fix"
    ],
    "source/app/client/ts/**/*.ts": [
        "tslint --project ./source/app/client/ts/tsconfig.json --fix"
    ],
    "*.js": [
        "eslint --fix"
    ]
}

cleanup repo
  .gitignore
  out/game-dev-cli.js
Due: eslint --fix

try toc for github
  README.md
Due: none

remove toc
  README.md
Due: none

correct documentation
  README.md
Due: none

throw error for event listeners if _this_ is not an event emitter
  source/app/client/ts/lib/BaseController.ts
Due: tslint --project ./tsconfig.json --exclude source/app/client/ts/**/*.ts --fix, tslint --project ./source/app/client/ts/tsconfig.json --fix

make controllers read only
  source/app/client/ts/lib/BaseController.ts
Due: tslint --project ./tsconfig.json --exclude source/app/client/ts/**/*.ts --fix, tslint --project ./source/app/client/ts/tsconfig.json --fix

correct type
  source/app/client/ts/lib/BaseController.ts
Due: tslint --project ./tsconfig.json --exclude source/app/client/ts/**/*.ts --fix, tslint --project ./source/app/client/ts/tsconfig.json --fix

make template vars bindable
  nunjucks.config.js
  out/app/client/views/testComponent.njk
  source/app/client/ts/lib/BaseComponent.ts
  source/app/lib/Property.ts
  source/app/utils/environment.ts
  webpack.config.js
Due: tslint --project ./tsconfig.json --exclude source/app/client/ts/**/*.ts --fix, tslint --project ./source/app/client/ts/tsconfig.json --fix, eslint --fix

update dependencies
  package-lock.json
  package.json
Due: none

some cleanup and i18n structure
  out/app/client/locales/de/components/TestComponent.json
  out/app/client/locales/de/global.json
  out/app/client/locales/en/components/TestComponent.json
  out/app/client/locales/en/global.json
  out/app/views/head.njk
  out/app/views/master.njk
  source/app/utils/environment.ts
Due: tslint --project ./tsconfig.json --exclude source/app/client/ts/**/*.ts --fix

remove components recursively
  source/app/client/ts/lib/BaseComponent.ts
  source/app/client/ts/lib/BaseController.ts
Due: tslint --project ./tsconfig.json --exclude source/app/client/ts/**/*.ts --fix, tslint --project ./source/app/client/ts/tsconfig.json --fix

extend documentation
  out/app/client/views/testComponent.njk
  source/app/client/less/components/TestComponent.less
Due: none

update dependencies
  global.d.ts
  package-lock.json
  package.json
  source/app/lib/BaseConstructor.ts
  source/app/server/lib/BaseServer.ts
  source/app/server/lib/Redis.ts
  source/app/utils/util.ts
Due: tslint --project ./tsconfig.json --exclude source/app/client/ts/**/*.ts --fix

reduce any type
  source/app/client/ts/lib/BaseComponent.ts
  source/app/client/ts/lib/BaseController.ts
  source/app/client/ts/lib/ClientModel.ts
  source/app/client/ts/utils/util.ts
  source/app/lib/Attribute.ts
  source/app/lib/BDOModel.ts
  source/app/lib/BaseConstructor.ts
  source/app/lib/Property.ts
  source/app/utils/framework.ts
  source/app/utils/metadata.ts
Due: tslint --project ./tsconfig.json --exclude source/app/client/ts/**/*.ts --fix, tslint --project ./source/app/client/ts/tsconfig.json --fix

more usage of framework utils
  source/app/client/ts/components/ViewLink.ts
  source/app/utils/framework.ts
  source/app/utils/util.ts
Due: tslint --project ./tsconfig.json --exclude source/app/client/ts/**/*.ts --fix, tslint --project ./source/app/client/ts/tsconfig.json --fix

fix assignment of component attributes on init
  source/app/lib/BaseConstructor.ts
  source/app/server/lib/ServerRoute.ts
Due: tslint --project ./tsconfig.json --exclude source/app/client/ts/**/*.ts --fix

cleanup build, remove sms from frontend and test logger with new sm
  out/app/views/head.njk
  source/app/client/ts/components/ViewLink.ts
  webpack.config.js
Due: tslint --project ./tsconfig.json --exclude source/app/client/ts/**/*.ts --fix, tslint --project ./source/app/client/ts/tsconfig.json --fix, eslint --fix

update dependencies
  Dockerfile
  package-lock.json
  package.json
  source/app/client/ts/lib/ClientModel.ts
  webpack.config.js
Due: tslint --project ./tsconfig.json --exclude source/app/client/ts/**/*.ts --fix, tslint --project ./source/app/client/ts/tsconfig.json --fix, eslint --fix

make styles object oriented like components and ignore css output
  .gitignore
  out/app/client/css/global.css
  out/app/client/css/themes/default.css
  source/app/client/less/BaseComponent.less
  source/app/client/less/components/TestComponent.less
  source/app/client/less/global.less
  source/app/client/less/themes/default.less
  source/app/client/ts/lib/BaseComponent.ts
Due: tslint --project ./tsconfig.json --exclude source/app/client/ts/**/*.ts --fix, tslint --project ./source/app/client/ts/tsconfig.json --fix

cleanup repo
  out/app/client/css/bundle.css
  out/app/client/css/global.css
Due: none

ignore all css
  .gitignore
Due: none

cleanup repo
  out/app/client/css/themes/dark.css
  out/app/client/css/themes/default.css
Due: none

setup i18n in frontend respecting the object orientation
  modules.d.ts
  out/app/client/locales/de-de/BaseComponent.json
  out/app/client/locales/de-de/components/TestComponent.json
  out/app/client/locales/de/components/TestComponent.json
  out/app/client/locales/de/global.json
  out/app/client/locales/en-en/BaseComponent.json
  out/app/client/locales/en-en/components/TestComponent.json
  out/app/client/locales/en/components/TestComponent.json
  out/app/client/locales/en/global.json
  out/app/client/locales/index.ts
  package-lock.json
  package.json
  source/app/client/ts/lib/BaseController.ts
  webpack.config.js
Due: tslint --project ./tsconfig.json --exclude source/app/client/ts/**/*.ts --fix, tslint --project ./source/app/client/ts/tsconfig.json --fix, eslint --fix

add translation to test
  source/app/client/ts/components/TestComponent.ts
Due: tslint --project ./tsconfig.json --exclude source/app/client/ts/**/*.ts --fix, tslint --project ./source/app/client/ts/tsconfig.json --fix

minimize config and correct worker number
  webpack.config.js
Due: eslint --fix

update save dependencies
  package-lock.json
  package.json
Due: none

update easy to fix dependencies
  package-lock.json
  package.json
  source/app/server/lib/BaseServer.ts
Due: tslint --project ./tsconfig.json --exclude source/app/client/ts/**/*.ts --fix

update mocha
  .mocharc.yml
  mocha.opts
  package-lock.json
  package.json
Due: none

update ts checker dependency
  package-lock.json
  package.json
  webpack.config.js
Due: eslint --fix

update ts-loader
  package-lock.json
  package.json
Due: none

improve setup and fix redis type error
  package-lock.json
  package.json
  setup.js
  source/app/server/lib/Redis.ts
Due: tslint --project ./tsconfig.json --exclude source/app/client/ts/**/*.ts --fix, eslint --fix

optimize build process and client route collection
  baseTSConfig.json
  package-lock.json
  package.json
  source/app/client/ts/components/ViewRouter.ts
  webpack.config.js
Due: tslint --project ./tsconfig.json --exclude source/app/client/ts/**/*.ts --fix, tslint --project ./source/app/client/ts/tsconfig.json --fix, eslint --fix
